<div class="bg-white p-20">

  <div class="d-flex center-flex">
    <img alt="" class="img-pop" src="assets/img/icon-pop/alerta.svg">
  </div>
  <h1 class="pop-cierre">Usuario diferente requiere autorización Nación</h1>
  <div class="mt-20">
    <p class="texto-pop-observacion">Se solicitara autorización nación para reabrir el centro de cómputo</p>
  </div>

  <div class="d-flex justify-content-flex-end mt-20 gap-10" >
    <button #botonNo class="estilo3 m-0" (click)="salirModal()">SALIR</button>
    <button #botonNo class="estilo1 m-0" (click)="solicitarAutorizacion()">SOLICITAR</button>
  </div>
</div>
