.colorPrimary {
font-size: 10px;
  color: #003874;
  font-weight: bold;
}
.scroll-doc-procesal{
  height: calc(100vh - 222px);
}


.padding{
   padding-top: 10px;
   padding-left: 25px;
   padding-right: 25px;
}