.img-cvas-l {
    
}
.conte-img-total1{
    width: 810px;
    height: 112px;
    position: relative;
    img{
        transform: rotate(90deg);
        width: 112px;
        left: 349px;
        bottom: -349px;
        position: absolute;
    }
}
.conte-img-total2{
    width: 96px;
    height: 49px;
    position: relative;
    img{
        transform: rotate(90deg);
        width: 49px;
        left: 24px;
        bottom: -24px;
        position: absolute;
    }
}