<section class="secciones">
    <div class="conte_sombra mt-20 mb-30 p-20">
        <div class="filtros mt-0 mb-0">
            <div class="filtro">
                <label for="departamento">Proceso:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="departamento">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filtro">
                <label for="provincia">Elección:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="provincia">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filtro"></div>
            <div class="filtro">
                <label for="provincia">Centro de Cómputo:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="provincia">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="titulos_dasboard">
        <h1 class="titulo1">Reportes Actas - Consulta Popular de Revocatoria  / Lima > Lima</h1>
        <h2 class="titulo1">Centro de Cómputo: Lima</h2>
    </div>
    <div class="dashboard">
        <div class="col-dashboard">
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Resultados</h3>
                    <button class="estilo1">VER MÁS</button>
                </div>
                <div class="filtros mt-0">
                    <div class="filtro">
                        <label for="departamento">Departamento:</label>
                        <mat-form-field appearance="outline">
                            <mat-select id="departamento">
                                <mat-option [value]="0">SELECCIONE</mat-option>
                                <mat-option [value]="1">Lima</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filtro">
                        <label for="provincia">Provincia:</label>
                        <mat-form-field appearance="outline">
                            <mat-select id="provincia">
                                <mat-option [value]="0">SELECCIONE</mat-option>
                                <mat-option [value]="1">Lima</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filtro">
                        <label for="distrito">Distrito:</label>
                        <mat-form-field appearance="outline">
                            <mat-select id="distrito">
                                <mat-option [value]="0">SELECCIONE</mat-option>
                                <mat-option [value]="1">Lima</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>







<div>
    <article class="grafica-referendum">

        <article>
            <span>5000</span>
            <span>4500</span>
            <span>4000</span>
            <span>3500</span>
            <span>3000</span>
            <span>2500</span>
            <span>2000</span>
            <span>1500</span>
            <span>1000</span>
            <span>500</span>
            <span>0</span>
        </article>
        <article>
            <section>
                <button class="btn_next2"></button>
                <button class="btn_after2"></button>

                <article class="centrando-barras">
                    <div class="data-postul-referendum">
                        <div class="barra-principal-referendum">
                            <div class="carga" style="height: 100%;">
                                <div class="partido-logo2">
                                    <img src="../../assets/img/si.jpg" alt="">
                                </div>
                                <span>
                                    <b class="pb-1">Carlos Alberto Zarate Solano</b> <br>
                                    SI: <b>27,4456,788</b>
                                </span>
                            </div>
                        </div>
                        <div class="barra-principal-referendum">
                            <div class="carga" style="height: 60%;">
                                <div class="partido-logo2">
                                    <img src="../../assets/img/no.jpg" alt="">
                                </div>
                                <span>
                                    <b class="pb-1">Carlos Alberto Zarate Solano</b> <br>
                                    NO: <b>27,4456,788</b>
                                </span>
                            </div>
                        </div>
                        <p class="pregunta-referendum">
                            Carlos Alberto Zarate Solano
                        </p>
                    </div>

                    <div class="data-postul-referendum">
                        <div class="barra-principal-referendum">
                            <div class="carga" style="height: 50%;">
                                <div class="partido-logo2">
                                    <img src="../../assets/img/si.jpg" alt="">
                                </div>
                                <span>
                                    <b class="pb-1">Bartolome Enrique Solano Zarate</b> <br>
                                    SI: <b>27,4456,788</b>
                                </span>
                            </div>
                        </div>
                        <div class="barra-principal-referendum">
                            <div class="carga" style="height: 100%;">
                                <div class="partido-logo2">
                                    <img src="../../assets/img/no.jpg" alt="">
                                </div>
                                <span>
                                    <b class="pb-1">Bartolome Enrique Solano Zarate</b> <br>
                                    NO: <b>27,4456,788</b>
                                </span>
                            </div>
                        </div>
                        <p class="pregunta-referendum">
                            Bartolome Enrique Solano Zarate
                        </p>
                    </div>

                    <div class="data-postul-referendum">
                        <div class="barra-principal-referendum">
                            <div class="carga" style="height: 80%;">
                                <div class="partido-logo2">
                                    <img src="../../assets/img/si.jpg" alt="">
                                </div>
                                <span>
                                    <b class="pb-1">Yreize Nilsa Carhuavilca Carhuavilca</b>
                                    <br>
                                    SI: <b>27,4456,788</b>
                                </span>
                            </div>
                        </div>
                        <div class="barra-principal-referendum">
                            <div class="carga" style="height: 100%;">
                                <div class="partido-logo2">
                                    <img src="../../assets/img/no.jpg" alt="">
                                </div>
                                <span>
                                    <b class="pb-1">Yreize Nilsa Carhuavilca Carhuavilca</b>
                                    <br>
                                    NO: <b>27,4456,788</b>
                                </span>
                            </div>
                        </div>
                        <p class="pregunta-referendum">
                            Yreize Nilsa Carhuavilca Carhuavilca
                        </p>
                    </div>
                </article>

                <div class="fondo-grafica">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>

                </div>
            </section>
        </article>

    </article>

</div>































                <h3 class="contenedor-documento-titulo mb-10">Autoridades en consulta</h3>
                <div class="conte_consulta">
                    <h3 class="subtitulo_candidato">1. Carlos Alberto Zarate Solano</h3>
                    <div class="candidato">
                        <div class="nombre">SI</div>
                        <div class="cant">65.024%</div>
                        <div class="cant">889,937</div>
                    </div>
                    <div class="candidato">
                        <div class="nombre">NO</div>
                        <div class="cant">33.593%</div>
                        <div class="cant">636,453</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS EN BLANCO</div>
                        <div class="cant">2.875%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS NULOS</div>
                        <div class="cant">2.071%%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">TOTAL DE VOTOS</div>
                        <div class="cant">100.000%</div>
                        <div class="cant"> 7'866,851</div>
                    </div>
                </div>
                <div class="conte_consulta">
                    <h3 class="subtitulo_candidato">2. Bartolome Enrique Solano Zarate</h3>
                    <div class="candidato">
                        <div class="nombre">SI</div>
                        <div class="cant">65.024%</div>
                        <div class="cant">889,937</div>
                    </div>
                    <div class="candidato">
                        <div class="nombre">NO</div>
                        <div class="cant">33.593%</div>
                        <div class="cant">636,453</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS EN BLANCO</div>
                        <div class="cant">2.875%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS NULOS</div>
                        <div class="cant">2.071%%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">TOTAL DE VOTOS</div>
                        <div class="cant">100.000%</div>
                        <div class="cant"> 7'866,851</div>
                    </div>
                </div>
                <div class="conte_consulta">
                    <h3 class="subtitulo_candidato">3. Yreize Nilsa Carhuavilca Carhuavilca</h3>
                    <div class="candidato">
                        <div class="nombre">SI</div>
                        <div class="cant">65.024%</div>
                        <div class="cant">889,937</div>
                    </div>
                    <div class="candidato">
                        <div class="nombre">NO</div>
                        <div class="cant">33.593%</div>
                        <div class="cant">636,453</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS EN BLANCO</div>
                        <div class="cant">2.875%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS NULOS</div>
                        <div class="cant">2.071%%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">TOTAL DE VOTOS</div>
                        <div class="cant">100.000%</div>
                        <div class="cant"> 7'866,851</div>
                    </div>
                </div>
                <div class="conte_consulta">
                    <h3 class="subtitulo_candidato">4. Edith Salsavilca Solano</h3>
                    <div class="candidato">
                        <div class="nombre">SI</div>
                        <div class="cant">65.024%</div>
                        <div class="cant">889,937</div>
                    </div>
                    <div class="candidato">
                        <div class="nombre">NO</div>
                        <div class="cant">33.593%</div>
                        <div class="cant">636,453</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS EN BLANCO</div>
                        <div class="cant">2.875%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS NULOS</div>
                        <div class="cant">2.071%%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">TOTAL DE VOTOS</div>
                        <div class="cant">100.000%</div>
                        <div class="cant"> 7'866,851</div>
                    </div>
                </div>
                <div class="conte_consulta">
                    <h3 class="subtitulo_candidato">5. Marcelino Narciso Huaringa</h3>
                    <div class="candidato">
                        <div class="nombre">SI</div>
                        <div class="cant">65.024%</div>
                        <div class="cant">889,937</div>
                    </div>
                    <div class="candidato">
                        <div class="nombre">NO</div>
                        <div class="cant">33.593%</div>
                        <div class="cant">636,453</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS EN BLANCO</div>
                        <div class="cant">2.875%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">VOTOS NULOS</div>
                        <div class="cant">2.071%%</div>
                        <div class="cant">-</div>
                    </div>
                    <div class="dato_gris">
                        <div class="nombre">TOTAL DE VOTOS</div>
                        <div class="cant">100.000%</div>
                        <div class="cant"> 7'866,851</div>
                    </div>
                </div>
            </div>
            <div class="cols-dashboard">
                <div class="col-3-flex conte_sombra p-20 mb-20">
                    <div class="cabecera_cards">
                        <h3 class="contenedor-documento-titulo mb-10">Mesas</h3>
                        <button class="estilo1">VER MÁS</button>

                    </div>
                    <div class="dashboard-col borde-gris">
                        <img class="img-100max" src="../../assets/img/pie-mesas.png" alt="">
                    </div>
                </div>
                <div class="col-4-flex conte_sombra p-20 mb-20">
                    <div class="cabecera_cards">
                        <h3 class="contenedor-documento-titulo mb-10">Transmisión de imágenes</h3>
                        <button class="estilo1">VER MÁS</button>

                    </div>
                    <div class="dashboard-col borde-gris">
                        <img class="img-100max" src="../../assets/img/pie-transmision.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-dashboard">
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Avance de actas contabilizadas</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="w-full dato_detalle mb-15">
                    <h2 class="nombre_dato">Total de Mesas</h2>
                    <span class="resultado_dato">356,342</span>
                </div>
                <div class="dashboard-col">
                    <div class="col col-dash">
                        <div class="pie-amcharts" id="piechartdiv" style="width: 100%; min-height: 400px;"></div>
                    </div>
                    <div class="col col-dash">
                        <div class="mb-20">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Actas Procesadas (7.212%)</div>
                                <div class="dato">15</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">A. Actas Contabilizaos Normales</div>
                                <div class="dato">6</div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Actas a resolver por el JEE </div>
                                <div class="dato"></div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">B. Con Votos Impugnados</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">C. Con Error Aritmético</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">D. Con Ilegibilidad</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">E. Incompleta</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">F. Con solicitud de nulidad</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">G. Actas sin datos</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">H. Actas Extraviadas</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">I. Actas Siniestradas</div>
                                <div class="dato">2</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">J. Sin Firmas</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">K. Con mas de un tipo de Observaciones</div>
                                <div class="dato">0</div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Anuladas por Resolución</div>
                                <div class="dato"></div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">L. Contabilizadas Ahisladas</div>
                                <div class="dato">2</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">M. Actas de Mesas no instaladas</div>
                                <div class="dato">1</div>
                            </div>
                        </div>
                        <div class="">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Actas por Procesar (92.788%)</div>
                                <div class="dato">193</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Mesa por mesa</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2><img class="icono" src="../../assets/img/location.svg" alt="">Lima</h2>
                                <span>Primera Acta Transmitida</span>
                            </div>
                            <div class="resultado_dato2">
                                <span class="dato1">009955</span>
                                <span class="dato2">05-06-2016 / 16:10:38</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2><img class="icono" src="../../assets/img/location.svg" alt="">Cusco</h2>
                                <span>Ultima Acta Transmitida</span>
                            </div>
                            <div class="resultado_dato2">
                                <span class="dato1">020245</span>
                                <span class="dato2">06-06-2016 / 21:10:38</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Participación Ciudadana</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col">
                    <div class="col-icono">
                        <img src="../../assets/img/icons/ico_electores_habiles.svg" alt="">
                        <h3 class="concepto">Electores Hábiles</h3>
                        <h2 class="numero">24,273,664</h2>
                    </div>
                    <div class="col-participacion">
                        <div class="pie-participacion">
                            <div class="pie-amcharts" id="piechartdiv2" style="width: 100%; min-height: 170px;"></div>
                        </div>
                        <div class="dato-participacion">
                            <div class="col-dato azul">
                                <h3>Participación</h3>
                                <h2>80.012%</h2>
                            </div>
                            <div class="col-dato gris">
                                <h3>Ausentismo</h3>
                                <h2>19.988%</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Avance de estado de actas</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="contenedor-barras mb-20">
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Actas Ingresadas</h3>
                            <span>5,222 / 24,894</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Actas Procesadas</h3>
                            <span>5,222 / 24,894</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Actas para envio al JEE por Resolver</h3>
                            <span>4/ 100</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 10%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Actas para envio al JEE Resueltas</h3>
                            <span>96/ 100</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 p-2">
                                <h2>Actas Siniestradas</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">35</span>
                                <span class="dato2">0.005%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 p-2">
                                <h2>Actas Extraviadas</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">21</span>
                                <span class="dato2">0.564%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Digitalización</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col borde-gris">
                    <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
