<section class="secciones veri-resolucion" >
  <div>
    <h1 class="titulo1">Aplicación de Resolución {{numeroResolucionAplicada}}</h1>
    <section >

      <article class="w-full" *ngIf="!isVisible">
        <div class="seccion-acta pt-12p">
          <div class=" contenido-scroll cont-anuncio">
            <div class="personaje-anuncio">
              <p>
                Aquí se visualizarán las resoluciones pendientes de aplicación.
              </p>
              <img alt="" src="../assets/img/personaje1.svg" />
            </div>
          </div>
        </div>
      </article>

      <div class="seccion-unidos veri-resolucion" *ngIf="isVisible">
        <article class="w-20 w-40 p-r">
          <div class="w-100 verificacion-resolucion">
            <h2>Acta Nº {{actaFCApli.value}} {{copiaFCApli.value}}</h2>

            <form class="formulario section-flex ">
              <div class="w-100 p-0">
                <h3 class="titulo3 mb-10">Datos de Acta</h3>
              </div>
              <div class="w-60 p-0">
                <label for="actaInput">Acta:</label>
                <mat-form-field appearance="outline">
                  <input id="actaInput" matInput type="text" placeholder="" [formControl]="actaFCApli">
                </mat-form-field>
              </div>
              <div class="w-40   pl-5 prtb">
                <label for="copiaInput">Copia:</label>
                <mat-form-field appearance="outline">
                  <input id="copiaInput" matInput type="text" placeholder="" [formControl]="copiaFCApli">
                </mat-form-field>
              </div>
              <div class="w-100 p-0 mt-10">
                <label for="electHabInput">Electores hábiles:</label>
                <mat-form-field appearance="outline">
                  <input id="electHabInput" matInput type="text" placeholder="" [formControl]="electHabilFCApli">
                </mat-form-field>
              </div>
              <div class="w-40 p-0 mt-10" *ngIf="false">
                <label for="loteInput">Lote:</label>
                <mat-form-field appearance="outline">
                  <input id="loteInput" matInput type="text" placeholder="">
                </mat-form-field>
              </div>
              <div class="w-100 p-0 mt-10" *ngIf="false">
                <label for="estadoInput">Estado de acta:</label>
                <mat-form-field appearance="outline">
                  <input id="estadoInput" matInput type="text" placeholder="" [formControl]="estadoDigitacionFCApli">
                </mat-form-field>
              </div>
              <div class="w-100 p-0 mt-10">
                <label for="tipoEleInput">Tipo de elección:</label>
                <mat-form-field appearance="outline">
                  <input id="tipoEleInput" matInput type="text" placeholder="" [formControl]="tipoEleccionFCApli">
                </mat-form-field>
              </div>
              <div class="w-100 p-0 mt-10">
                <label for="ubigeoInput">Ubigeo</label>
                <mat-form-field appearance="outline">
                  <input id="ubigeoInput" matInput type="text" placeholder="" [formControl]="ubigeoFCApli">
                </mat-form-field>
              </div>
              <div class="w-100 p-0 mt-10">
                <label for="locaVotInput">Local de Votación:</label>
                <mat-form-field appearance="outline">
                  <input id="locaVotInput" matInput type="text" placeholder="" [formControl]="localVotacionFCApli">
                </mat-form-field>
              </div>
              <div class="w-60 p-0 mt-10">
                <label for="horaEscInput" [matTooltip]="'dd-MM-yyyy HH:mm'">Fecha y Hora de escrutinio:</label>
                <mat-form-field appearance="outline">
                  <input id="horaEscInput"
                         matInput type="text"
                         placeholder="" [formControl]="horaEscrutinioFCApli"
                         sceUppercaseFormReact
                         sceNoEspacioInicio>
                </mat-form-field>
              </div>
              <div class="w-50 pl-5 prtb mt-10" *ngIf="false">
                <label for="horaInstInput">Hora de instalación:</label>
                <mat-form-field appearance="outline">
                  <input id="horaInstInput" matInput type="text" placeholder="" [formControl]="horaInstalacionFCApli">
                </mat-form-field>
              </div>

            </form>

            <button class="btn-azul w-full mx-0 mt-10 mb-10" title="Visualizar avance de actas aplicadas" type="button" (click)="verActasAsociadas()" [disabled]="isDisabled">VER ACTAS</button>

            <button *ngIf="resultadoPrevio=='actanormal' && (!isSiniestradaExtraviada || tipoResolverExtraviadaSiniestradaReconteo == 'reconteo')" class="btn-azul w-full mt-10 m-0" title="Haga Click para editar los datos del acta" [disabled]="isDisabled" (click)="desbloquear()">SEGUIR EDITANDO</button>
            <button class="estilo1 w-full mx-0 mt-10 " title="Visualizar el acta de escrutinio y el acta de instalación y sufragio." type="button"
                    (click)="verImagenActa()" [disabled]="isDisabled || isSiniestradaExtraviada"><img alt="" style="width: 2em" src="../assets/img/icons/eye.svg">&nbsp;VER IMAGEN ACTA</button>
            <button class="estilo1 w-full m-0 mt-10  mb-10" title="Visualizar la resolución." type="button"
                    (click)="verImagenResolucion()" ><img alt="" style="width: 2em" src="../assets/img/icons/eye.svg">&nbsp;VER IMAGEN RESOLUCIÓN</button>

          </div>
        </article>
        <article class="w-80 d-flex flex-column">

          <div class="w-full d-flex">
            <div class="w-70">
              <div class="w-100 p-0">
                <h3 *ngIf="codigoEleccion !== Constantes.COD_ELEC_REVOCATORIA" class="titulo3 m-0">
                  Listado de organizaciones políticas y votos
                </h3>
                <h3 *ngIf="codigoEleccion == Constantes.COD_ELEC_REVOCATORIA" class="titulo3 m-0">
                  Listado de autoridades en consulta y votos
                </h3>
                <div class="mt-10" >


                  <div class="content-table-preferencial">
                    <!--                    tabla votos totales para revocatoria-->
                    <div *ngIf="codigoEleccion == Constantes.COD_ELEC_REVOCATORIA" class="table-preferencial-grid width-40">
                      <div class="header-table-preferencial2">
                        <div class="celda-preferencial celda-doble">N°</div>
                        <div class="celda-preferencial celda-doble">
                          Autoridades en consulta
                        </div>
                      </div>
                      <div
                        class="scroll-vertical"
                        style="overflow-y: scroll; height: 343px"
                        id="left-container"
                        (scroll)="onScroll('left')"
                      >
                        <form [formGroup]="formGroupSeccionVoto" autocomplete="off">
                          <div formGroupName="params" class="focus">
                            <div *ngFor="let votoItem of this.dataSourceAgrupacionesPoliticas; index as i" class="item-content-preferencial2 item-focus">

                              <div class="item-table-preferencial">{{votoItem.posicion}}</div>
                              <div class="item-table-preferencial">
                                {{votoItem.nombreAgrupacionPolitica}}
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!--         tabla votos totales-->
                    <div
                         [ngClass]="codigoEleccion==Constantes.COD_ELEC_PRE || codigoEleccion==Constantes.COD_ELEC_DIST ? 'table-preferencial-grid w-full' : 'table-preferencial-grid width-60'">
                      <div class="header-table-preferencial2">
                        <div class="celda-preferencial">N°</div>
                        <div class="celda-preferencial">
                          Organizaciones Políticas
                        </div>

                        <div class="group-celda-preferencial">

                          <div class="group-celda-preferencial-item">
                            <div>Total de votos</div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="scroll-vertical"
                        style="overflow-y: scroll; height: 343px"
                        id="left-container"
                        (scroll)="onScroll('left')"
                      >
                        <form [formGroup]="formGroupSeccionVoto" autocomplete="off">
                          <div formGroupName="params" class="focus">
                            <div *ngFor="let votoItem of this.dataSourceAgrupacionesPoliticas; index as i" class="item-content-preferencial2 item-focus">

                              <div class="item-table-preferencial">{{votoItem.posicion}}</div>
                              <div class="item-table-preferencial">
                                {{votoItem.nombreAgrupacionPolitica}}
                              </div>
                              <div class="item-table-preferencial tres item-focus-input">
                                <mat-form-field class="acta-corregir-pref cant-input"
                                                *ngIf="formGroupSeccionVoto.get('params.'+votoItem.idDetActa+'-'+i) && votoItem.estado !== Constantes.CODIGO_ESTADO_ACHURADO;else achuradoTemplate"
                                                appearance="outline"
                                >
                                  <input [id]="'mat-input-total-'+ i"
                                         matInput
                                         [formControlName]="votoItem.idDetActa+'-'+i"
                                         sceFocusVeriResolucionEnter
                                         sceFocusVeriResolucionFlecha
                                         [rowIndex]="i"
                                         [colIndex]="0"
                                         [flagPresi]="codigoEleccion==Constantes.COD_ELEC_PRE || codigoEleccion==Constantes.COD_ELEC_REVOCATORIA || codigoEleccion==Constantes.COD_ELEC_DIST"
                                         (input)="onInputVoto(votoItem.idDetActa,i,$event)"
                                         (change)="changeVoto(votoItem.idDetActa, false,i)"
                                         (focus)="onFocus($event)"
                                         (blur)="onBlur()"
                                         (dblclick)="onDoubleClick($event)"
                                         maxlength="3"
                                         [ngClass]="{'no-caret': !isEditingMode(i)}"

                                  />
                                </mat-form-field>
                                <ng-template #achuradoTemplate>
                                  <ng-container *ngTemplateOutlet="achurado; context: { i: i, flagPresi: codigoEleccion==Constantes.COD_ELEC_PRE ||
                                  codigoEleccion==Constantes.COD_ELEC_REVOCATORIA || codigoEleccion==Constantes.COD_ELEC_DIST }"></ng-container>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!--                    tabla votos preferenciales-->
                    <div *ngIf="codigoEleccion!==Constantes.COD_ELEC_PRE &&
                    codigoEleccion!==Constantes.COD_ELEC_REVOCATORIA &&
                    codigoEleccion !==Constantes.COD_ELEC_DIST" class="table-preferencial-grid2 width-40">
                      <div
                        id="right-container"
                        class="table-preferencial-grid2 container-scroll-none2"
                        style="overflow: auto; height: 385px"
                        id="right-container"
                        (scroll)="onScroll('right')"
                      >
                        <div class="header-table-preferencial p-sticky">
                          <div *ngFor="let votPref of times; index as jj" class="group-celda-preferencial">
                            <div class="group-celda-preferencial-item">
                              <div>VP{{jj+1}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="scroll-vertical" #scrollContainer>
                          <form [formGroup]="formGroupSeccionVotoPref" autocomplete="off">
                            <div formGroupName="params">
                              <div *ngFor="let votoItem of this.dataSourceAgrupacionesPoliticas; index as i" style="display: flex" class="focus focus-group">
                                <ng-container *ngIf="votoItem.votosPreferenciales && votoItem.votosPreferenciales.length>0; else nullCase">
                                  <div *ngFor="let votoPref of votoItem.votosPreferenciales | slice:0: cantVotosPrefe; index as j" class="item-table-votos2">
                                    <mat-form-field  class=" cant-input"
                                                     *ngIf="formGroupSeccionVotoPref.get('params.'+votoPref.idDetActaPreferencial+'-'+i+'-'+j) && votoPref.estado !== Constantes.CODIGO_ESTADO_ACHURADO; else achuradoTemplatePref"
                                                     appearance="outline"
                                    >
                                      <input [id]="'mat-input-pref-'+ i+'-'+ j" matInput [formControlName]="votoPref.idDetActaPreferencial+'-'+i+'-'+j"
                                             sceFocusVeriResolucionEnter
                                             sceFocusVeriResolucionFlecha
                                             [rowIndex]="i"
                                             [colIndex]="j"
                                             [flagPresi]="false"
                                             (input)="onInputVotoPref(votoPref.idDetActaPreferencial,i,j,$event)"
                                             (change)="changeVoto(votoPref.idDetActaPreferencial,true,i,j)"
                                             (focus)="onFocusPref($event)"
                                             (blur)="onBlur()"
                                             (dblclick)="onDoubleClickPref($event)"
                                             [readonly] = "votoPref.estado == Constantes.CODIGO_ESTADO_ACHURADO"
                                             maxlength="3"
                                             [ngClass]="{'no-caret': !isEditingMode(i, j)}"
                                      />
                                    </mat-form-field>
                                    <ng-template #achuradoTemplatePref>
                                      <ng-container *ngTemplateOutlet="achuradoPref; context: { i: i,j:j }"></ng-container>
                                    </ng-template>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="footer-table">

                  <table class="w-full tablefooter">
                    <caption class="d-none"></caption>
                    <thead>
                    <tr  >
                      <th> <h3>TOTAL DE CIUDADANOS QUE VOTARON</h3></th>
                      <th>
                        <mat-form-field class="total-ciudadanos" appearance="outline">
                          <input matInput type="text" [maxLength]="3"
                                 (change)="changeCvas()"
                                 style="text-align: right;"
                                 placeholder="" [formControl]="cvasFC" sceNumerosHashN/>
                        </mat-form-field>
                      </th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            <div class="w-30">
              <div class="card-resolucion">
                <h3 class="titulo3 m-0">Pasar a Nulos</h3>
                <div class="d-flex flex-column anchodefault">
                  <label class="mt-10" for="">Seleccionar</label>
                  <mat-form-field appearance="outline" class="w-100 select_responsive p-0">
                    <mat-select [formControl]="tipoNulosFC">
                      <mat-option value="0">SELECCIONE</mat-option>
                      <mat-option value="1">Electores Hábiles</mat-option>
                      <mat-option value="2">Ciudadanos que votaron</mat-option>
                      <mat-option value="3">Suma de Votos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="d-flex flex-column anchodefault" *ngIf="false">
                  <label class="mt-10" for="">Tipo de elección:</label>
                  <mat-form-field appearance="outline" class="w-30 select_responsive p-0">
                    <mat-select [formControl]="tipoEleccionNulosFC">
                      <mat-option value="0">SELECCIONE</mat-option>
                      <mat-option value="10">Elección Presidencial</mat-option>
                      <mat-option value="11">Elección Congresal</mat-option>
                      <mat-option value="12">Elección Parlamento Andino</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <button #btnPasarNulos class="estilo2 full noMarginLR" type="button" [disabled]="isDisabled"  (click)="pasarNulos()">PASAR A NULOS</button>
              </div>

              <div class="card-resolucion mt-18">
                <h3 class="titulo3 m-0">Motivo de envío de Acta Nº {{actaFCApli.value}} {{copiaFCApli.value}}</h3>
                <div class="d-flex flex-column mt-10  gap-10">
                  <div class="check-actas">
                    <input type="checkbox" [formControl]="checkSinDatosFC" (change)="changeCheckSinDatos($event)"> <label for="" >Acta Sin Datos</label>
                  </div>
                  <div class="check-actas">
                    <input type="checkbox" [formControl]="checkSinFirmasFC"> <label for="">Acta Sin Firmas</label>
                  </div>
                  <div class="check-actas">
                    <input type="checkbox" [formControl]="checkIncompletaFC" (change)="changeCheckIncompleta($event)" > <label for="">Acta Incompleta</label>
                  </div>
                  <div class="check-actas">
                    <input type="checkbox"  [formControl]="checkSolNulidadFC"> <label for="">Solicitud de Nulidad</label>
                  </div>
                </div>
              </div>
              <div class="card-resolucion mt-18">
                <button *ngIf="resultadoPrevio!='actanormal'" class="btn-azul w-full mt-10 m-0" title="Resultado Previo" [disabled]="isDisabled" (click)="onClickResultadoPrevio()"> RESULTADO PREVIO</button>

                  <div class="d-flex mt-10 content-resul justify-content-center" *ngIf="resultadoPrevio=='sinmodificar'">
                    <span>SIN RESULTADO PREVIO</span>
                  </div>
                  <div class="d-flex mt-10 content-resul acta-normal" *ngIf="resultadoPrevio=='actanormal'">
                    <img alt="" src="../assets/img/ico_check.svg">
                    <span>ACTA NORMAL</span>
                  </div>
                  <div class="d-flex mt-10 content-resul mt-10 acta-observada" *ngIf="resultadoPrevio=='actaobservada'">
                    <img alt="" src="../assets/img/ico_alert2.svg">
                    <span>ACTA OBSERVADA</span>
                  </div>
              </div>
            </div>
          </div>

          <div class="card-resolucion mt-18">
            <h3 class="titulo3 m-0">Observaciones JEE/JNE en el Acta Nº {{actaFCApli.value}} {{copiaFCApli.value}}</h3>
            <div class="d-flex flex-column mt-10  gap-10">
              <textarea  #idObservacionesJurado name="" id="" cols="20" rows="6" style="width: 100%; resize: none;"
                         maxlength="255"
                         (keydown)="preventEnterKey($event)"
                         placeholder="Máximo 255 caracteres"
              ></textarea>
            </div>



          </div>





        </article>



      </div>






    </section>

  </div>

  <div class="d-flex j-end mt-18 cont-btn" *ngIf="isVisible">
    <button class="estilo1  mx-0" type="button" [disabled]="isDisabled" (click)="registrarAplicacionResolucion()">GUARDAR CAMBIOS</button>

  </div>


</section>


<ng-template #nullCase let-i="index">
  <div *ngFor="let votoPref of times; index as j" class="item-table-votos2">

  </div>
</ng-template>
<ng-template #achurado let-i="i" let-flagPresi="flagPresi">
  <mat-form-field
    class="acta-corregir-pref black cant-input"
    appearance="outline"
  >
    <input
      matInput
      sceFocusVeriResolucionEnter
      sceFocusVeriResolucionFlecha
      [rowIndex]="i"
      [colIndex]="0"
      [flagPresi]="flagPresi"
      type="text"
      placeholder=""
      value=""
      readonly = true
    />
  </mat-form-field>
</ng-template>

<ng-template #achuradoPref let-i = "i" let-j = "j">
  <mat-form-field
    class="acta-corregir-pref black cant-input"
    appearance="outline"
  >
    <input
      matInput
      sceFocusVeriResolucionEnter
      sceFocusVeriResolucionFlecha
      [rowIndex]="i"
      [colIndex]="j"
      [flagPresi]="false"
      type="text"
      placeholder=""
      value=""
      readonly = true
    />
  </mat-form-field>
</ng-template>
