<div class="filtros">
    <div class="filtro">
        <label for="tipoProceso">Proceso:</label>
        <mat-form-field appearance="outline">
            <mat-select id="tipoProceso">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="eleccion">Elección:</label>
        <mat-form-field appearance="outline">
            <mat-select id="eleccion">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="centroComputo">Centro de Cómputo:</label>
        <mat-form-field appearance="outline">
            <mat-select id="centroComputo">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option>Presidente y Vicepresidente</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="odpe">ODPE:</label>
        <mat-form-field appearance="outline">
            <mat-select id="odpe">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="departamento">Departamento:</label>
        <mat-form-field appearance="outline">
            <mat-select id="departamento">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filtro">
        <label for="provincia">Provincia:</label>
        <mat-form-field appearance="outline">
            <mat-select id="provincia">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filtro">
        <label for="distrito">Distrito:</label>

        <mat-form-field appearance="outline">
            <mat-select id="distrito">
                <mat-option [value]="0">SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro_boton">
        <button class="estilo1 noMarginLR" type="button">
              Consultar
        </button>
    </div>

</div>
<h2 class="subtitulo_reportes">Monitoreo de Información Oficial</h2>
<div class="cont-anuncio">
    <div class="personaje-anuncio">
      <p>
        Por favor, seleccione los filtros para realizar la búsqueda.
      </p>
      <img alt="" src="../assets/img/personaje1.svg" />
    </div>
</div>


<mat-table [dataSource]="dataSource1" class="tabla-header-doble mb-25">
    <ng-container matColumnDef="ubigeo">
        <mat-header-cell *matHeaderCellDef class="header-ubigeo centrar-celda">Ubigeo</mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-ubigeo centrar-celda">
            {{ element.ubigeo }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="departamento">
        <mat-header-cell *matHeaderCellDef>Departamento</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.departamento }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="provincia">
        <mat-header-cell *matHeaderCellDef>Provincia</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.provincia}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="distrito">
        <mat-header-cell *matHeaderCellDef>Distrito</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.distrito}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ElectoresHabiles">
        <mat-header-cell *matHeaderCellDef>Electores hábiles</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.ElectoresHabiles}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Ciudadanos">
        <mat-header-cell *matHeaderCellDef>Ciudadanos que votaron</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.Ciudadanos}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ausentismo">
        <mat-header-cell *matHeaderCellDef>Ausentismo en cifras</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.ausentismo}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="porParticipacion">
        <mat-header-cell *matHeaderCellDef>% de participación</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.porParticipacion}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="porAusentismo">
        <mat-header-cell *matHeaderCellDef>% de ausentismo</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.porAusentismo}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
</mat-table>

