<div class="datos-actas">
    <div class="filtro15 max-width11">
        <label for="TextCantidadCiudadanosVotaron">Nº Acta</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width " appearance="outline">
                <input matInput disabled="true" [value]="datosResolucion.numeroActa">
            </mat-form-field>
        </div>
    </div>
    <div class="filtro15">
        <label for="TextCantidadCiudadanosVotaron">Resolución/Memorándum</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width " appearance="outline">
                <input matInput disabled="true" [value]="datosResolucion.nombreResolucion">
            </mat-form-field>
        </div>
    </div>
    <div class="filtro15">
        <label for="TextCantidadCiudadanosVotaron">Nº de Expediente</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width " appearance="outline">
                <input matInput disabled="true" [value]="datosResolucion.numeroExpediente">
            </mat-form-field>
        </div>
    </div>
    <div class="filtro15">
        <label for="TextCantidadCiudadanosVotaron">Tipo de elección</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width " appearance="outline">
                <input matInput disabled="true" [value]="datosResolucion.eleccion">
            </mat-form-field>
        </div>
    </div>    
    <div class="filtro15 max-width11">
        <label for="TextCantidadCiudadanosVotaron">Nº Electores Ausentes</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width " appearance="outline">
                <input matInput disabled="true" [value]="datosResolucion.numeroElectoresAusentes">
            </mat-form-field>
        </div>
    </div>
    <div class="filtro15">
        <label for="TextCantidadCiudadanosVotaron">Ubigeo</label>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width " appearance="outline">
                <input matInput disabled="true" [value]="datosResolucion.ubigeo">
            </mat-form-field>
        </div>
    </div>
</div>