<mat-tab label="observaciones 2/800">
    <div id="conte_observaciones" class="">
      <h2 class="titulo2">Acta Nª 345 <i>(Validada)</i></h2>
      <div class="w-100 cuadro-blanco-2">
        <div class="d-flex">
          <div class="w-40 pl-0">
            <h3 class="titulo3">Observaciones (Acta de Escrutinio)</h3>
          </div>
          <div class="w-60 validacion-titulo">
            <input
              id="checkNulidadEscrutinio"
              name="indCheckNulidadEscrutinio"
              class=""
              type="checkbox"
              value=""
            />
            <label class="" for="checkNulidadEscrutinio"> Solicitud de nulidad </label>

          </div>
        </div>
        <img
          class="img-observaciones"
          src="../assets/img/doc/observaciones.jpg"
          alt="Observaciones"
        />
        <label class="label-textarea" for="observaciones"
        >Ingrese el texto de “Observaciones”</label
        >
        <mat-form-field appearance="outline">
          <textarea matInput ></textarea>
        </mat-form-field>
      </div>
      <div class="w-100 cuadro-blanco-2">
        <div class="d-flex">
          <div class="w-40 pl-0">
            <h3 class="titulo3">Observaciones (Acta de instalación)</h3>
          </div>
          <div class="w-60 validacion-titulo">
            <input
              id="checkNulidadInstalacion"
              name="indCheckNulidadInstalacion"
              class=""
              type="checkbox"
            />
            <label class="" for="checkNulidadInstalacion"> Solicitud de nulidad </label>
          </div>
        </div>
        <img
          class="img-observaciones"
          src="../assets/img/doc/observaciones.jpg"
          alt="Observaciones"
        />
        <label class="label-textarea" for="observaciones"
        >Ingrese el texto de “Observaciones”</label
        >
        <mat-form-field appearance="outline">
          <textarea matInput ></textarea>
        </mat-form-field>
      </div>
      <div class="w-100 cuadro-blanco-2">
        <div class="d-flex">
          <div class="w-40 pl-0">
            <h3 class="titulo3">Observaciones (Acta de sufragio)</h3>
          </div>
          <div class="w-60 validacion-titulo">
            <input
              id="checkNulidadSufragio"
              name="indCheckNulidadSufragio"
              class=""
              type="checkbox"
            />
            <label class="" for="checkNulidadSufragio"> Solicitud de nulidad </label>
          </div>
        </div>
        <img
          class="img-observaciones"
          src="../assets/img/doc/observaciones.jpg"
          alt="Observaciones"
        />
        <label class="label-textarea" for="observaciones"
        >Ingrese el texto de “Observaciones”</label
        >
        <mat-form-field appearance="outline">
          <textarea matInput ></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-tab>
