<div class="filtros" [formGroup]="form">
    <div class="filtro">
        <label for="tipoProceso">Proceso:</label>

        <mat-form-field appearance="outline">
            <mat-select id="proceso" formControlName="proceso">
                <mat-option *ngFor="let proceso of listProceso" [value]="proceso">{{proceso.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="eleccion">Elección:</label>
        <mat-form-field appearance="outline">
            <mat-select id="eleccion" formControlName="eleccion">
                <mat-option *ngFor="let eleccion of listEleccion" [value]="eleccion">
                    {{eleccion.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filtro">
        <label for="centroComputo">Centro de Cómputo:</label>
        <mat-form-field appearance="outline">
            <mat-select id="centroComputo" formControlName="centroComputo">
                <mat-option *ngFor="let centroComputo of listCentrosComputo" [value]="centroComputo">
                    {{centroComputo.codigo}} - {{centroComputo.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filtro">
        <label for="ambitoElectoral">ODPE:</label>
        <mat-form-field appearance="outline">
            <mat-select id="ambitoElectoral" formControlName="ambitoElectoral">
                <mat-option *ngFor="let ambitoElectoral of listOdpes" [value]="ambitoElectoral">
                    {{ambitoElectoral.codigo}} - {{ambitoElectoral.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="nivelUbigeoUno">{{labelNivelUbigeoUno}}</label>
        <mat-form-field appearance="outline">
            <mat-select id="nivelUbigeoUno" formControlName="nivelUbigeoUno">
                <mat-option value="0">TODOS</mat-option>
                <mat-option *ngFor="let nivelUbigeoUno of listNivelUbigeoUno" [value]="nivelUbigeoUno.id">
                    {{nivelUbigeoUno.codigo}} - {{nivelUbigeoUno.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filtro">
        <label for="nivelUbigeoDos">{{labelNivelUbigeoDos}}</label>
        <mat-form-field appearance="outline">
            <mat-select id="nivelUbigeoDos" formControlName="nivelUbigeoDos">
                <mat-option value="0">TODOS</mat-option>
                <mat-option *ngFor="let nivelUbigeoDos of listNivelUbigeoDos" [value]="nivelUbigeoDos.id">
                    {{nivelUbigeoDos.codigo}} - {{nivelUbigeoDos.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filtro">
        <label for="nivelUbigeoTres">{{labelNivelUbigeoTres}}</label>

        <mat-form-field appearance="outline">
            <mat-select id="nivelUbigeoTres" formControlName="nivelUbigeoTres">
                <mat-option value="0">TODOS</mat-option>
                <mat-option *ngFor="let nivelUbigeoTres of listNivelUbigeoTres" [value]="nivelUbigeoTres.id">
                    {{nivelUbigeoTres.codigo}} - {{nivelUbigeoTres.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="departamento">Tipo reporte:</label>

        <mat-form-field appearance="outline">
            <mat-select id="tipoReporte" formControlName="tipoReporte">
                <mat-option [value]="0">SELECCIONE</mat-option>

                <mat-option [value]="TipoReporteEnum.MesasPorMesa">MESA POR ESTADO DE MESA</mat-option>
                <mat-option [value]="TipoReporteEnum.MesasPorEstadoDeActa">MESAS POR ESTADO DE ACTA</mat-option>
                <mat-option [value]="TipoReporteEnum.MesasPorEstadoDeDigitacion">MESAS POR ESTADO DE
                    DIGITACIÓN</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="estadoMesa">Estado de mesa:</label>
        <mat-form-field appearance="outline">
            <mat-select id="estadoMesa" formControlName="estadoMesa">
                <mat-option value="0">TODOS</mat-option>
                <mat-option *ngFor="let estadoMesa of listEstadoMesa" [value]="estadoMesa"> {{estadoMesa.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="porDistrito">&nbsp;</label>
        <mat-checkbox formControlName="porDistrito">Por distrito</mat-checkbox>
    </div>
    <div class="filtro_boton">
        <button class="estilo1 full noMarginLR" type="button" (click)="buscarReporte()">
            Consultar
        </button>
    </div>

</div>

<h2 class="subtitulo_reportes">Listado de mesas por estado</h2>
<div class="cont-anuncio" *ngIf="mensaje">
    <app-mensaje-personaje [mensaje]="mensaje"></app-mensaje-personaje>

</div>
<article class="pdf_incrustado">
    <div class="contenedor-documento-muestra">
        <div #idDivImagen *ngIf="isShowReporte">
        </div>
    </div>
</article>
