

<div class="p25-60">
    <div class="modal text-center">

            <img alt="" src="../../assets/img/ico-ok.svg">
        <p class="mt-25 ">Reprocesamiento solicitado</p>
        <p class="descripcion mb-25">Se requiere la autorización de su administración</p>
      </div>

    <div class="content-botones text-center d-flex  center-flex gap-10 ">
        <button class="estilo3 mb-40 m-0" >
            CANCELAR
         </button>
        <button class="estilo2 mb-40 m-0" >
            ACEPTAR
         </button>
    </div>



  </div>



