@media (max-height: 900px) {
    .seccion-unidos.veri-resolucion{

        height: auto!important;

    }
    .alert-content-resul.position{
     position: relative!important;
     margin-top: 50px;
     width: 100%!important;
    }
  }


@media (min-width: 1921px) {
    html, body {
        font-size: 77%;
    }
    .logo-principal {
        max-width: 500px;
    }


.cont-valida-voto.min .img-voto{
    width:85px;
}

.cont-valida-voto.min .img-voto-alto{
  width:85px;
  height: 40px;
}
}
 @media (max-width: 1921px) {
    div.input input[type="file"] {
        width: calc(100% + 11.9rem);
        left: -11.9rem;
    }
    .columnas3 > .w-60 {
            padding-left: 0;
            padding-right: 0;
    }
}
@media (max-width: 1700px) {
    .cantidad span{
        font-size: 1.2rem;
        b {
            font-size: 2.2rem;
        }
    }
}
@media (max-width: 1600px) {


    mat-form-field.input-omiso {

        height: 20px;
        text-align: center;
        line-height: 20px;

        .mat-mdc-text-field-wrapper {

          height: 20px;
          text-align: center;
          line-height: 20px;
        }

        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {

          height: 18px;
          text-align: center;
          line-height: 20px;
          padding: 0 !important;
        }

        input {
          text-align: center;
        }
      }

    .w-15-lg{
        width: 15%!important;
    }
    .width-30-control{
        width: 30%!important;
    }
    .font-text.input{
        font-size: 10px!important;
    }
    .width-30{
        width: 30%!important;
    }
    .pr-30{
        padding-right: 10px!important;
      }

    .contenedor-documento-muestra {
        height: calc(100vh - 240px);
    }

    .invertido.dos.t-75 , .invertido.dos.t-25{
        height: 90px;
    }







    .cuadro-blanco-2.p6 {
        padding: 6px !important;
    }
    .cantidad {

        margin: 0 0 5px 0 !important;
    }

    .cont-valida-voto.min .img-voto{
        width:65px;
        height: auto;
    }
    .cont-valida-voto.min .img-voto-alto{
      width:65px;
      height: 35px;
    }

    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab{
        height: 32px;
    }
    .invertido{
        height: 150px;
    }
    .invertido.dos{
        height: 100px;
    }
    .contenido-tab {
        height: calc(100vh - 210px);
    }
    div.input{
        height: 30px;
    }
    .cantidad span b{
        font-size: 2rem;
    }
    .input{
        padding: 5px;
    }
    select.input{
        background-size: 9px;
    }
    .estilo1, .estilo2, .estilo3 , .btn-azul{

        margin: 10px 5px;
    }
    p, span, label, a, li, legend, th, td{
        font-size: 12px;
        color: #707070;
    }
    .cuadro-blanco-2{
        border-radius: 10px;
        padding: 10px 20px !important;
        margin: 0px 0px 10px 0px;
    }

    .login form{
        max-width: 330px;
    }

    .login form > img{
        width: 100px;
    }
    .cantidad span{
        font-size: 1.2rem;
        margin: 5px 10px;
        height: 48px;
    }
    .w-25.estados{
        width: 25%;
    }
    .w-100, .w-80, .w-75, .w-60, .w-50, .w-40, .w-30, .w-33, .w-25, .w-20  {
        padding: 0px;
    }
    .cont-info.w-80 .cuadro-blanco-2, .w-33 .cuadro-blanco-2{
        padding: 5px 10px !important;
    }
    .cont-firma.switch, .cont-firma_girar.switch{
        width: 205px;
        margin: 13px 8px;
        height: auto;
    }
    .cont-firma_girar{
        img{
            height: 212px;
            width: 120px;
        }
    }
    div.input input[type="file"] {
        width: calc(100% + 12.2rem);
        left: -12.2rem;
    }
    .cantidad img{
        width: 35px;
    }
    .head-flotante.mitad {
        max-height: calc(50vh - 227px)
    }
    .table thead > tr > td,
    .table tbody > tr > td,
    .table tfoot > tr > td {
        padding: 3px 1px !important;
    }
    .table thead > tr > th{
        padding: 6px   !important;
    }

    .mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 7px 6px 7px 6px !important;
    }
    html, body {
        font-size: 57%;
    }
    .tabs li a{
        padding: 8px 15px;
    }
    .btn_actualizar{
        width: 30px;
        height: 30px;
    }
    .titulo1{
        margin: 10px 0;

    }
    .titulo2{
        margin: 10px 0;
    }

    .tabs li a:hover{
        padding-bottom: 20px;
        margin-top: -8px;
    }
    header .logo-principal{
        height: 45px;
    }
    header{
        height: 65px;
    }
    .switch{
        width: 39px;
        height: 16px;
    }
    .slider:before{
        height: 23px;
        width: 23px;
        left: -2px;
        bottom: -3px;
    }
    input:checked + .slider:before{
        transform: translateX(19px);
    }
    .opciones-seleccion li a{
        padding: 10px;
        padding-right: 30px;
    }
    .ul-opciones li {
        padding: 8px;
    }
    .input:disabled{
        margin: 2px 2px 9px 2px;
    }
    .proceso-e{
        width: 280px;
        margin: 5px !important;
    }

    .w-100{
        width: 100%;
    }
    .w-33{
        width: 33%;
    }
    .w-25{
        width: 25%;
    }
    .w-50{
        width: 50%;
    }
    .w-75{
        width: 75%;
    }
    .w-20{
        width: 25%;
    }


    .fullhResoluiones {
        min-height: calc(100vh - 276px);
    }
    .fullhResoluiones .head-flotante {
        max-height: calc(100vh - 280px);
    }
    .columnas3{
        .w-20 {
            width: 20%;
            min-width: 200px;
        }
    }
    .fixProcElect.boton-full .w-50{
        padding: 5px 10px;
    }
    .fixProcFullBtn .full{
        margin: 0px 5px 5px;
    }
    .cuadro-blanco-2 .titleModel {
        padding: 0 5px;
    }
    .table-preferencial-grid .header-table-preferencial2 .celda-triple{
        line-height: 1.2em;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .foto_lista_electores{
        height: 55px;
    }
    .btn_asitio,
    .btn_no_asitio,
    .btn_asitio_2,
    .btn_asistio_perdido,
    .btn_no_asistio_perdido  {

      img {
        height: 30px!important;

      }
    }
    .scrolltablamonitoreo{
        height: auto !important;
    }
}
@media (max-height: 680px) {
    .content-vh-omiso{
        height: 100%;
    }

}



@media (max-width: 1530px) {
    .btn_asitio,
    .btn_no_asitio,
    .btn_asitio_2,
    .btn_asistio_perdido,
    .btn_no_asistio_perdido  {

      img {
        height: 30px!important;

      }
    }
    .iborrainputfile{
        font-size: 14px;
    }
    .container-input {
        width: 70%;
    }
    .inputfile{
        width: 100%!important;
    }
    .inputfile-1 + label{
        width: 100%!important;
    }
    .plus {
        padding: 2px 9px !important;
        font-size: 19px!important;

    }

}
@media (max-width: 1500px) {

    form.section-flex{
        flex-wrap: wrap!important;
        justify-content: end!important;
    }
    .viewerBox{
        height: calc(100% - 95px);
    }
}



@media (max-width: 1400px) {

    .omisos-nosorteados{
        height: auto!important;
    }
    .footer-table{
    tr td:nth-child(2){
        max-width: 170px !important;
        min-width: 170px !important;
        width: 170px !important;
      }
    }


    .titulocontrol{
        font-size: 16px!important;
    }
    .seccion-unidos > .w-40 {

        min-width: 230px!important;
    }

    .content-alert-control{
       gap: 6px!important;
       font-size: 10px!important;
       text-align: center;
       padding-left: 5px;
       padding-right: 5px;
      }


    .estilo2.cargar-doc{
font-size: 10px!important;
    }

.width-25-control{
    width: 25%!important;
}


    .header-firmas{
        font-size: 10px!important;
    }

    .tableVerificacion{


        .mat-mdc-header-cell:nth-child(1){
        max-width: 20%;
          width: 20%;
        }
        .mat-mdc-header-cell:nth-child(2){
          max-width: 60%;
          width: 60%;
        }

        .mat-mdc-header-cell:nth-child(3){
          max-width: 20%;
          width: 20%;

        }

        .mat-mdc-cell:nth-child(3){
            max-width: 150px!important;
            min-width: 150px!important;
            width: 150px!important;

          }

      }



    .tabs-navegacion{
        .cont-firma.switch{
            width: 300px;
        }
    }
    .cont-firma.switch{
        width: 200px;
        margin: 16px 12px;
    }
    .cont-img-acta{
        padding-top: 10px;
        overflow: auto;
    }
    .btn-ico-ampliar{
        height: 20px;
        img{
            max-width: 20px;
        }
    }
    .bottom-actas-verificar{
        display: block;
        flex-wrap: wrap;
        .btn-azul{
            float: right;
            margin: 0;
        }
    }
    .conte-btn-zoom{
        min-width: 102px;
    }
    .btn-ico-control{
        height: 30px;
        img{
            max-width: 30px;
        }
    }
    .list-actas{
        margin-right: 0;
        li {
        padding: 7px 10px;
        }
    }
    .list-actas > li > img {
        max-width: 25px;
    }
    .centrar-item-list-actas{
        img{
            max-width: 25px;
            margin-right: 5px !important;
        }
    }
    .ico-firma:after{
        margin-right: 5px;
    }
    .tabs li a{
        padding: 8px 10px;
    }
    .fullhResoluiones {
        min-height: calc(100vh - 276px);
    }
    .fullhResoluiones .head-flotante {
        max-height: calc(100vh - 280px);
    }
    .w-80.cont-img{
        overflow: hidden;
    }

    .columnas3{
        .seccion-unidos .w-80 .mat-slide-toggle, .seccion-unidos .w-80 .mat-mdc-form-field {
            max-width: 250px;
        }
    }
    .w-20.cuadro-blanco-2{
        width: 30%;
    }
    .w-80.cont-cards{
        width: 70%;
    }


}




@media (min-width: 1301px) {
.d-none-min-1300{
    display: none;
}


}
 @media (max-width: 1300px) {
    .formubigeo {

        gap: 6px;

    }
    .d-none-1300{
        display: none;
    }
    .pl-5{
        padding-left: 0 !important;

    }
    .logo-principal {
        max-width: 320px;
    }

    .viewerBox{
        height: calc(100% - 100px);
    }
    .fullhResoluiones {
        min-height: calc(100vh - 276px);
    }
    .fullhResoluiones .head-flotante {
        max-height: calc(100vh - 280px);
    }
    .cont-padding {
        padding-left: 10px;
        padding-right: 10px;
    }
    .secciones {
        padding: 10px 20px;
    }
    .w-25{
        width: 50%;
    }
    .w-33{
        width: 50%;
    }
    .w-40{
        width: 100%;
    }
    .w-50{
        width: 50%;
    }
    .w-60{
        width: 100%;
      }
    .w-75{
        width: 66.66%;
    }
    .w-100{
        width: 100%;
    }

    .w-50.flex-bottom{
        width: 100%;
    }
    .w-25.estados{
        width: 50%;
    }
    .mdc-dialog{
        .formulario{
            .w-75{
                width: 75%;
            }
            .w-25{
                width: 25%;
            }
        }
    }
    .contenido-scroll{
        margin-bottom: 20px;
    }
    .smallTabs .mat-mdc-tab-labels{
        padding-left: 10%;
    }
    .tab_buscador{
        .w-20{
            width: 33.33333% !important;
        }
    }
    .columnas3{
        .seccion-unidos .w-20 {
            min-width: 200px;
        }
        .seccion-unidos{
            width: 70%;
        }
        .seccion-lateral{
            width: calc(30% - 15px);
            min-width:30%;
            margin-left: 15px;
        }
        .w-60{
            width: 60%;
        }
        .w-20 {
            min-width: auto;
        }

        .ul-opciones li {
         flex-wrap: wrap;
         margin-bottom: 10px;
             .mat-mdc-slide-toggle:first-child{
                 margin-left: 10px;
             }
         }
         .select_responsive{
             width: 100%;
             max-width: 100% !important;
         }
    }

}
@media (max-width:1200px){
    nav{
        width: 200px;
    }
    .contenedor-body {
        padding-left: 200px;
    }
    .w-20.cuadro-blanco-2{
        width: 30%;
    }
    .w-80.cont-cards{
        width: 70%;
    }
}
 @media (max-width: 1024px) {
    html, body {
        font-size: 65%;
    }

    .w-10, .w-20, .w-25, .w-30, .w-33, .w-40, .w-50, .w-60, .w-66, .w-70, .w-75, .w-80, .w-100 {
   width: 100%;

        }
    nav{
        width: 150px;
    }
    .contenedor-body {
        padding-left: 150px;
    }
    footer .text-logo {
        margin-bottom: 20px;
    }
    footer{
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-gap: 0px;
        -moz-column-gap: 0px;
        -webkit-column-gap: 0px;
        background: #003874;
        min-height: 210px;
        height: auto;
    }
    .contenido-gris-centrado{
        text-align: center;
    }
    .menssaje-con-imagen img {
        margin: 10px;
    }
    .contenedor-principal{
        position: relative;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .section-flex .w-20{
        width: 40%;
    }
    .section-flex .w-80{
        width: 80%;
    }
    .proceso-e {
        width: 80%;
    }

}
 @media (max-width: 920px) {
    nav{
        position: relative;
        height: auto;
        width: 100%;
    }
    nav .logo-principal{
        display: none;
    }
    .contenedor-body{
        padding: 0;
    }
    .w-100{
        width: 100%;
    }
    .w-33{
    width: 100%;
    }
    .w-25{
        width: 100%;
    }
    .w-50{
        width: 100%;
    }
    .w-75{
        width: 100%;
    }
    .w-20{
        width: 100%;
    }
    .w-80{
        width: 100%;
    }
    .section-flex .w-20{
        width: 100%;
    }
    .section-flex .w-80.cont-cards {
        width: 100%;
    }

    .titulo2 {
        padding: 0 4px;
    }

    nav li.active:before{
        display: none;
    }
    nav li.active:after{
        display: none;
    }
    .cuadro-blanco-2 .titulo2 {
        padding: 0 0px;
    }
}
@media (max-width: 700px) {
    .section-flex{
        display: block;
    }
    .proceso-e{
        margin: 5px 0 !important;
        width: 100%;
    }
    .w-80.cont-cards{
        padding: 3px 0px;
    }
}


@media (max-width: 1746px) {
    .height-scrollactas{
        overflow: hidden;
    }
    .pa-0{
        padding: 0!important;
        .titulos-article{
    font-size: 14px;
        }
    }

    .container-1.p {
        height: 88px;
    }

    .container-scroll.h-560 {

        height: 480px;

    }
    .container-scroll.h-520 {

        height: 430px;

    }


    .container-1.total .item2 {
        height: 88px !important;
    }

    .container-1.total {
        height: 480px !important;
    }





    .valVoto2 .mat-mdc-form-field{
        width: 60px;
        height: 50px;    margin: 8px 0 8px 0;
      }



      .valVoto2 .mdc-text-field--outlined .mdc-text-field__input, .valVoto2 .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
        font-size: 2.2rem !important;
        text-align: center;
      }


      .valVoto2 .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
        height: 50px;
        line-height:20px!important;   padding: 8px 8px;
      }
      .valVoto2 .mat-mdc-text-field-wrapper{
        width: 60px;
        height: 58px;
      }
      .valVoto2 .mat-mdc-form-field-flex{
        width: 60px;
        height: 58px;
      }

      .valVoto2 img.img32{
        width: 32px !important;
        height: 32px !important;
      }
      .imgBox2{
        position: relative;
        width: 60px;
        height: 58px;
        overflow: hidden;
        margin-right: 8px;
        border: #000 solid 1px;
        background: #ffe7a9;
      }
      .imgBox2 img{
        width: 60px!important;
        height: auto;
        position: absolute;
        margin: 0;
      }



}





@media (max-width: 1536px) {
    .overf-config {
        height: calc(100vh - 423px);
        overflow: auto;
    }
    .config-h {
        height: calc(100vh - 183px);
    }
    .height-scrollactas{
        overflow: hidden;
    }
    .pa-0{
        padding: 0!important;
        .titulos-article{
font-size: 14px;
        }
    }

    .container-1.p {
        height: 66px;
    }

    .container-scroll.h-560 {

        height: 380px;

    }
    .container-scroll.h-520 {

        height: 330px;

    }

    .container-1.total .item2 {
        height: 66px !important;
    }

    .container-1.total {
        height: 390px !important;
    }

      .valVoto2 .mdc-text-field--outlined .mdc-text-field__input, .valVoto2 .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
        font-size: 2.2rem !important;
        text-align: center;
      }

      .valVoto2 .mat-mdc-text-field-wrapper{
        width: 60px;
        height: 50px;
      }
      .valVoto2 .mat-mdc-form-field-flex{
        width: 60px;
        height: 50px;
      }
      .valVoto2 .mat-mdc-form-field{
        margin: 8px 0 8px 0;
      }

      .valVoto2 img.img32{
        width: 32px !important;
        height: 32px !important;
      }
      .imgBox2{
        position: relative;
        width: 60px;
        height: 50px;
        overflow: hidden;
        margin-right: 8px;
        border: #000 solid 1px;
        background: #ffe7a9;
      }
      .imgBox2 img{
        width: 70px!important;
        height: auto;
        position: absolute;
        margin: 0;
      }


}



@media (max-width: 1400px) {


    .content-right-input {
        padding: 0px 0px;
        overflow: hidden;
        width: calc(100% + -7px);
    }

      .w-container-85{
        width: 85%; position: relative; padding: 10px 0px;
      }
      .w-container-80{
        width: 80%; position: relative; padding: 10px 0px;
      }
      .item {
        flex: 0 0 25% !important;
        box-sizing: border-box !important;
        padding: 10px !important;
        text-align: center !important;
    }
}

@media (max-width: 600px) {
    .mat-dialog-container {
        width: 100% !important;
        margin: 0 !important;
    }
}
