<div class="content-cantidad mt-25">
    <h4>Datos del acta</h4>
    <div class="datos-actas">
        <div class="filtro15">
            <label for="TextCantidadCiudadanosVotaron">Nº Acta</label>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field class="example-full-width " appearance="outline">
                    <input matInput disabled="true" [value]="numeroActaCopia">
                </mat-form-field>
            </div>
        </div>
        <div class="filtro40">
            <label for="TextCantidadCiudadanosVotaron">Tipo de elección</label>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="full">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput disabled="true" [value]="tipoEleccion">
                </mat-form-field>
            </div>
        </div>
        <div class="filtro40">
            <label for="TextCantidadCiudadanosVotaron">Ubigeo</label>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="full">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput disabled="true" [value]="ubigeo">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>