<div class="bg-white p-20">
    <h2 class="titulo-popup">{{datosResolucion.nombreResolucion}}</h2>
    
    <app-data-resolucion [datosResolucion]="datosResolucion"></app-data-resolucion>
    
    <div class="docBox mt-20" #idDivImagen id="idDivImagen"></div>
    
    <div class="d-flex j-end mt-18 cont-btn">
        <button type="button" class="estilo2 mr-3" (click)="descargarPdf()">DESCARGAR PDF </button>
        <button type="button" class="estilo2" mat-dialog-close>CERRAR </button>
    </div>
</div>