.titulo1 {
    margin-bottom: 20px;
}

.cuadro-blanco-2 {
    margin-bottom: 0;
}

.actions {
    display: flex;
    justify-content: center;

    .estilo1 {
        margin-inline: 0;
    }
}