<div>
    <h1 class="titulo1">Paso 4 - validación de tipo de elección Regional</h1>
    <section class="seccion-unidos">
        <article class="w-20">
            <h2 class="titulo2">Validación</h2>
            <p class="texto"> Seleccione el tipo de elección</p>

            <label for="">Tipo de documento</label>
            

                <mat-form-field appearance="outline" >
                    <mat-select >
                      <mat-option value="Acta de Escrutinio"> Acta de Escrutinio</mat-option>
                      <mat-option value="Acta de Instalacion de sufragio"> Acta de Instalacion de sufragio</mat-option>
                      <mat-option value="TListado Electoral"> Listado Electoral</mat-option> 
                    </mat-select>
                  </mat-form-field>



        <h3 class="titulo3">Secciones</h3>
            <ul class="opciones-seleccion seleccionadores completo">
            <li><a href="#">Codigo de barra <img alt="" src="../assets/img/seleccionador-1.svg"></a></li>
            <li><a href="#">Hora de Inifio <img alt="" src="../assets/img/seleccionador-2.svg"></a></li>
            <li><a href="#">Hora de fin <img alt="" src="../assets/img/seleccionador-3.svg"></a></li>
            <li><a href="#">Total de votos <img alt="" src="../assets/img/seleccionador-4.svg"></a><li>
            <li><a href="#">Firma presidencial <img alt="" src="../assets/img/seleccionador-5.svg"></a></li>
            <li><a href="#">Hora de fin<img alt="" src="../assets/img/seleccionador-6.svg"></a></li>
            <li><a href="#">Hora de fin  <img alt="" src="../assets/img/seleccionador-7.svg"  ></a></li>
            <li><a href="#">Total de votos <img alt="" src="../assets/img/seleccionador-8.svg"></a><li>
            <li><a href="#">Firma presidencial <img alt="" src="../assets/img/seleccionador-9.svg"></a></li>

            </ul>

        </article>
        <article class="w-80 cont-img">
            <div class=" ">
                <div class="contenedo-doc">
                    <div class="seccionador-1" style="left:744px; top: 555px; width: 90px; height: 129px;"> </div>
                    <div class="seccionador-2" style="left:1px; top: 567px; width: 90px; height: 239px;"> </div>
                    <div class="seccionador-3" style="left:334px; top: 999px; width: 90px; height: 239px;"> </div>
                    <div class="seccionador-4" style="left:654px; top: 689px; width: 230px; height: 39px;"> </div>
                    <div class="seccionador-5" style="left:84px; top: 56px; width: 90px; height: 39px;"> </div>
                    <div class="seccionador-6" style="left:134px; top: 539px; width: 90px; height: 89px;"> </div>
                    <div class="seccionador-7" style="left:144px; top: 539px; width: 330px; height: 39px;"> </div>
                    <div class="seccionador-8" style="left:184px; top: 339px; width: 90px; height: 99px;"> </div>
                    <div class="seccionador-9" style="left:180px; top: 239px; width: 440px; height: 119px;"> </div>
                    <img alt="" src="../assets/img/doc/0001.png">
                </div>
            </div>
        </article>
    </section>
    <div class="cont-btn">
        <button class="estilo3" onclick="location.href = 'configuracion-3.html'"> paso anterior</button>
        <button class="estilo2"> solo guardar </button>
        <button class="estilo1" onclick="location.href = 'configuracion-1.html'" >finalizar</button>
    </div>
</div>