<section class="secciones">
    <div class="conte_sombra mt-20 mb-30 p-20">
        <div class="filtros mt-0 mb-0">
            <div class="filtro">
                <label for="proceso">Proceso:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="proceso">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filtro">
                <label for="eleccion">Elección:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="eleccion">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filtro"></div>
            <div class="filtro">
                <label for="centroComputo">Centro de Cómputo:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="centroComputo">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="titulos_dasboard">
        <h1 class="titulo1">Reportes Resoluciones - Consulta Popular de Revocatoria  / Lima > Lima</h1>
        <h2 class="titulo1">Centro de Cómputo: Lima</h2>
    </div>
    <div class="dashboard">
        <div class="col-dashboard">
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Resoluciones</h3>
                    <button class="estilo1">VER MÁS</button>
                </div>
                <div class="w-full dato_detalle mb-15">
                    <h2 class="nombre_dato">Total de Resoluciones</h2>
                    <span class="resultado_dato">2,352</span>
                </div>
                <h3 class="contenedor-documento-titulo mb-10 mt-20">Tipo de resoluciones</h3>
                <div class="dashboard-col borde-gris">
                    <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Actas por resolver y resueltas</h3>


                </div>
                <div class="dashboard-col mb-20">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 p-2">
                                <h2>Actas enviadas al JEE por resolver</h2>
                            </div>
                            <div class="resultado_dato2">
                                <span class="dato1">15,222</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 p-2">
                                <h2>Actas enviadas al JEE por resueltas</h2>
                            </div>
                            <div class="resultado_dato2">
                                <span class="dato1">5,222</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 p-2">
                                <h2>Actas por resolver y resueltas</h2>
                            </div>
                            <div class="resultado_dato2">
                                <span class="dato1">24,894</span>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="cols-dashboard">
                <div class="conte_sombra p-20 mb-20">
                    <div class="cabecera_cards">
                        <h3 class="contenedor-documento-titulo mb-10">Transmisión de imágenes</h3>
                        <button class="estilo1">VER MÁS</button>

                    </div>
                    <div class="dashboard-col borde-gris">
                        <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                    </div>
                </div>
            </div>
            <div class="cols-dashboard">
                <div class="conte_sombra p-20 mb-20">
                    <div class="cabecera_cards">
                        <h3 class="contenedor-documento-titulo mb-10">Digitalización</h3>
                        <button class="estilo1">VER MÁS</button>

                    </div>
                    <div class="dashboard-col borde-gris">
                        <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-dashboard">
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Acta</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col">
                    <div class="col col-dash">
                        <div class="pie-amcharts" id="piechartdiv" style="width: 100%; min-height: 400px;"></div>
                    </div>
                    <div class="col col-dash">
                        <div class="mb-20">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Actas Procesadas (7.212%)</div>
                                <div class="dato">15</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">A. Actas Contabilizaos Normales</div>
                                <div class="dato">6</div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Actas a resolver por el JEE </div>
                                <div class="dato"></div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">B. Con Votos Impugnados</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">C. Con Error Aritmético</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">D. Con Ilegibilidad</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">E. Incompleta</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">F. Con solicitud de nulidad</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">G. Actas sin datos</div>
                                <div class="dato">0</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">H. Actas Extraviadas</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">I. Actas Siniestradas</div>
                                <div class="dato">2</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">J. Sin Firmas</div>
                                <div class="dato">1</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">K. Con mas de un tipo de Observaciones</div>
                                <div class="dato">0</div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Anuladas por Resolución</div>
                                <div class="dato"></div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">L. Contabilizadas Ahisladas</div>
                                <div class="dato">2</div>
                            </div>
                            <div class="datos_actas">
                                <div class="concepto">M. Actas de Mesas no instaladas</div>
                                <div class="dato">1</div>
                            </div>
                        </div>
                        <div class="">
                            <div class="datos_actas titulo_datos">
                                <div class="concepto">Actas por Procesar (92.788%)</div>
                                <div class="dato">193</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Estado de resoluciones</h3>
                </div>
                <div class="dashboard-col borde-gris">
                    <div class="pie-amcharts" id="piechartdiv2" style="width: 100%; min-height: 170px;"></div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Resoluciones por elección</h3>

                </div>
                <div class="contenedor-barras mb-20">
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Revocatoria Distrital</h3>
                            <span>5,222 / 24,894</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Revocatoria Provincial</h3>
                            <span>5,222 / 24,894</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Actas devueltas</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="contenedor-barras mb-20">
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Actas devueltas por el JEE</h3>
                            <span>15,222 / 24,894</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>Actas no devueltas por el JEE</h3>
                            <span>5,222 / 24,894</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
