<div class="filtros">
    <div class="filtro">
        <label for="tipoProceso">Centro de Cómputo:</label>
        <mat-form-field appearance="outline">
            <mat-select id="tipoProceso">
                <mat-option >SELECCIONE</mat-option>
                <mat-option> opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filtro">
        <label for="departamento">Estado:</label>
        <mat-form-field appearance="outline">
            <mat-select id="departamento">
                <mat-option >SELECCIONE</mat-option>
                <mat-option>Opcion 1</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="filtro_boton">
        <button class="estilo1">CONSULTAR</button>
    </div>

</div>
<div class="conte-cards">
    <div class="tarjeta">
      <div class="cuadro-blanco-2 gris-claro cantidad">
        <img alt="" src="../assets/img/ico_procesadas.svg">
        <span class="observados mr-0">Realizada
          <b>22</b>
        </span>
      </div>
    </div>
    <div class="tarjeta">
      <div class="cuadro-blanco-2 gris-claro cantidad">
        <img alt="" src="../assets/img/ico_porprocesar.svg">
        <span class="verificar mr-0">Pendiente
          <b>33</b>
        </span>
      </div>
    </div>
    <div class="tarjeta_actualizarcada">
      <div class="conte_actualizar">
        <label for="departamento">Actualizar cada</label>
        <mat-form-field appearance="outline" >
            <input matInput maxlength="2"/>
            <span matTextSuffix class="span-sufijo"> minutos</span>
          </mat-form-field>
      </div>

      <button class=" estilo1"><img alt="" src="../assets/img/icons/ico-actualizacion-blanco.svg"></button>
    </div>
  </div>

<h2 class="subtitulo_reportes">Relación de puestas a cero por centro de cómputo</h2>
<div class="cont-anuncio">
    <div class="personaje-anuncio">
        <p>
            Por favor, ingrese el número de acta para realizar la búsqueda.
        </p>
        <img alt="" src="../assets/img/personaje1.svg" />
    </div>
</div>

<mat-table [dataSource]="dataSource1" class="tabla-header-doble mb-25">
    <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef class="header-codigo">Código</mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-codigo centrar-celda" [ngClass]="element.bgColor">
            {{ element.codigo }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cc">
        <mat-header-cell *matHeaderCellDef class="header-cc">Centro de cómputo</mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-cc" [ngClass]="element.bgColor">
            {{ element.cc }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FechaEnvioCC">
        <mat-header-cell *matHeaderCellDef class="header-asistencia">Fecha / hora envío CC</mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-asistencia centrar-celda" [ngClass]="element.bgColor">
            {{ element.FechaEnvioCC}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FechaRecepcionCC">
        <mat-header-cell *matHeaderCellDef class="header-asistencia">Fecha / hora recepción CC</mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-asistencia centrar-celda" [ngClass]="element.bgColor">
            {{ element.FechaRecepcionCC}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef class="header-estado">Estado xx</mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-estado centrar-celda" [ngClass]="element.bgColor">
            {{ element.estado}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
</mat-table>