<section class="section-flex secciones ">


<section class="seccion-unidos mt-32" >




<div id="contenedor-documento" class="w-full p-20">
    <div class="p5-p10">
        <h3 class="contenedor-documento-titulo mb-10">Descarga e instalación del SCE-Scanner</h3>
        <div class="contenedor-documento-descripcion d-flex between-flex">
            <p>Descarga el archivo de instalación para el escaneo de documentos electorales.</p>
             <button class="m-0 estilo1 " (click)="downloadFile()">
                DESCARGA INSTALADOR
             </button>
        </div>

        <hr class="instalacion-hr">

        <div class="paso-instalacion">
            <h4>Pasos de instalación</h4>
            <p class="m-0 mt-1">Instala y configura el sistema de escaneo de actas.</p>
            <p class="m-0 mt-1">* Imágenes referenciales.</p>
        </div>

    </div>

    <div class="ng-star-inserted mt-40 mb-40">
        <div style="display: flex;flex-wrap: wrap; gap: 20px;">
           <div class="w-100">
            <div class="section-flex alignc-sb" style="gap: 20px;">
              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(0)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_02-100.jpg" alt="" />
                <span>Bienvenido al asistente de instalación de SCE-Scanner</span>
              </div>
              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(1)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_03-100.jpg" alt="" />
                <span>Seleccione la carpeta de destino</span>
              </div>
              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(2)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_04-100.jpg" alt="" />
                <span>Seleccione la carpeta del Menú inicio</span>
              </div>
              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(3)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_05-100.jpg" alt="" />
                <span>Seleccione las tareas adicionales</span>
              </div>
              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(4)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_06-100.jpg" alt="" />
                <span>Listo para instalar</span>
              </div>

              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(5)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_07-100.jpg" alt="" />
                <span>Instalando... espere que termine el proceso de instalación</span>
              </div>


              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(6)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_08-100.jpg" alt="" />
                <span>Completando la instalación de SCE-Scanner</span>
              </div>

              <div class="visualStepinstalacion cursor-pointer" (click)="openModal(7)" onkeypress="">
                <img class="w-full" src="../assets/img/pasos/intall_09-100.jpg" alt="" />
                <span>Pantalla de inicio</span>
              </div>


            </div>
        </div>

        </div>

  </div>

</div>

</section>
</section>
