<div [formGroup]="form">
    <div class="filtros fila-filtro">
        <div class="filtro">
            <label for="tipoProceso">Proceso:</label>

            <mat-form-field appearance="outline">
                <mat-select id="proceso" formControlName="proceso">
                    <mat-option *ngFor="let proceso of listProceso" [value]="proceso">{{proceso.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filtro" *ngIf="mostrarFiltro">
            <label for="eleccion">Elección:</label>
            <mat-form-field appearance="outline">
                <mat-select id="eleccion" formControlName="eleccion">
                    <mat-option *ngFor="let eleccion of listEleccion" [value]="eleccion">
                        {{eleccion.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filtro">
            <label for="centroComputo">Centro de Cómputo:</label>
            <mat-form-field appearance="outline">
                <mat-select id="centroComputo" formControlName="centroComputo">
                    <mat-option *ngFor="let centroComputo of listCentrosComputo" [value]="centroComputo">
                        {{centroComputo.codigo}} {{centroComputo.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
    <div class="filtros fila-filtro">
        <div class="filtro">
            <label for="nivelUbigeoUno">{{labelNivelUbigeoUno}}</label>
            <mat-form-field appearance="outline">
                <mat-select id="nivelUbigeoUno" formControlName="nivelUbigeoUno">
                    <mat-option value="0">TODOS</mat-option>
                    <mat-option *ngFor="let nivelUbigeoUno of listNivelUbigeoUno" [value]="nivelUbigeoUno.id">
                        {{nivelUbigeoUno.codigo}} {{nivelUbigeoUno.nombre}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div class="filtro">
            <label for="nivelUbigeoDos">{{labelNivelUbigeoDos}}</label>
            <mat-form-field appearance="outline">
                <mat-select id="nivelUbigeoDos" formControlName="nivelUbigeoDos">
                    <mat-option value="0">TODOS</mat-option>
                    <mat-option *ngFor="let nivelUbigeoDos of listNivelUbigeoDos" [value]="nivelUbigeoDos.id">
                        {{nivelUbigeoDos.codigo}} {{nivelUbigeoDos.nombre}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div class="filtro">
            <label for="nivelUbigeoTres">{{labelNivelUbigeoTres}}</label>
    
            <mat-form-field appearance="outline">
                <mat-select id="nivelUbigeoTres" formControlName="nivelUbigeoTres">
                    <mat-option value="0">TODOS</mat-option>
                    <mat-option *ngFor="let nivelUbigeoTres of listNivelUbigeoTres" [value]="nivelUbigeoTres.id">
                        {{nivelUbigeoTres.codigo}} {{nivelUbigeoTres.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filtro">
            <label for="mesa">Mesa:</label>
           
            <mat-form-field appearance="outline">
                <input
                  id="mesa"
                  matInput
                  type="text"
                  maxlength="6"
                  sceSoloNumerosFormReact
                  placeholder=""
                  formControlName="mesa"
                  mask="000000"
                />
              </mat-form-field>
        </div>
    </div>
    <div class="filtros">                
        <div class="filtro_boton">
            <button class="estilo1 full noMarginLR" type="button" (click)="buscarReporte()">
                buscar
            </button>
        </div>        
    </div>
</div>
<h2 class="subtitulo_reportes">Reporte de Asistencia de Personeros</h2>
<div class="cont-anuncio" *ngIf="!isShowReporte">
    <div class="personaje-anuncio">
      <p>
        Por favor, seleccione los filtros para realizar la búsqueda.
      </p>
      <img alt="" src="../assets/img/personaje1.svg" />
    </div>
</div>

<article class="pdf_incrustado">
    <div class="contenedor-documento-muestra">
      <div #idDivImagen *ngIf="isShowReporte">
      </div>
    </div>
</article>
