
<section class="secciones popup-iframe">
    <div style="width: 1300px">
      <mat-dialog-content class="mat-typography pdf-puesta-cero mt-12 pb-0">
        <app-pdf-viewer-reporte [pdfBlob]="data.pdfBlob"></app-pdf-viewer-reporte>
      </mat-dialog-content>

      <div class="content-botones text-center d-flex between-flex mt-10 px-20 pb-20">
        <div class="d-flex gap-10">
        </div>


        <div class="d-flex align-items gap-10">
           <button class="m-0 estilo2 mb-40" (click)="descargarPdf()">
            DESCARGAR PDF
          </button>
          <button class="m-0 estilo2 mb-40" (click)="cerrar()">CERRAR</button>
        </div>
      </div>
    </div>
  </section>
