<section class="secciones">
    <div class="conte_sombra mt-20 mb-30 p-20">
        <div class="filtros mt-0 mb-0">
            <div class="filtro">
                <label for="proceso">Proceso:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="proceso">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filtro">
                <label for="eleccion">Elección:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="eleccion">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filtro"></div>
            <div class="filtro">
                <label for="centroComputo">Centro de Cómputo:</label>
                <mat-form-field appearance="outline">
                    <mat-select id="centroComputo">
                        <mat-option [value]="0">SELECCIONE</mat-option>
                        <mat-option [value]="1">Lima</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="titulos_dasboard">
        <h1 class="titulo1">Reportes Hojas de Asistencia - Consulta Popular de Revocatoria  / Lima > Lima</h1>
        <h2 class="titulo1">Centro de Cómputo: Lima</h2>
    </div>
    <div class="dashboard">
        <div class="col-dashboard">
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Avance</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="w-full dato_detalle mb-15">
                    <h2 class="nombre_dato">Total de Mesas</h2>
                    <span class="resultado_dato">356,342</span>
                </div>
                <div class="dashboard-col">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Mesas Registradas</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">251,145</span>
                                <span class="dato2">78.585%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Mesas Pendiente</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">1,145</span>
                                <span class="dato2">21.415%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Transmisión de imágenes</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col borde-gris">
                    <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Miembros de Mesa según Genero</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col mb-20">
                    <div class="col col-genero">
                        <div class="borde-generos">
                            <h3>Hombres</h3>
                            <img class="ico-genero" src="../../assets/img/icons/ico_hombres.svg" alt="">
                            <h2>14,273,664 / 46.817%</h2>
                        </div>

                        <div class="w-full dato_detalle mb-20">
                            <div class="nombre_dato2 px-2">
                                <h2>Participación Hombres</h2>
                            </div>
                            <div class="resultado_dato2 bg_hombre py-1">
                                <span class="dato1">12,251,145</span>
                                <span class="dato2">80.585%</span>
                            </div>
                        </div>
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Ausentismo Hombres</h2>
                            </div>
                            <div class="resultado_dato2 bg_hombre py-1">
                                <span class="dato1">12,251,145</span>
                                <span class="dato2">19.585%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-genero">
                        <div class="borde-generos">
                            <h3>Mujeres</h3>
                            <img class="ico-genero" src="../../assets/img/icons/ico_mujeres.svg" alt="">
                            <h2>14,273,664 / 46.817%</h2>
                        </div>

                        <div class="w-full dato_detalle mb-20">
                            <div class="nombre_dato2 px-2">
                                <h2>Participación Mujeres</h2>
                            </div>
                            <div class="resultado_dato2 bg_mujer py-1">
                                <span class="dato1">12,251,145</span>
                                <span class="dato2">80.585%</span>
                            </div>
                        </div>
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Ausentismo Mujeres</h2>
                            </div>
                            <div class="resultado_dato2 bg_mujer py-1">
                                <span class="dato1">12,251,145</span>
                                <span class="dato2">19.585%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Miembros de Mesa de Acta de Escrutinio</h3>
                    <button class="estilo1">VER MÁS</button>
                </div>
                <div class="dashboard-col">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Mesas Registradas</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">251,145</span>
                                <span class="dato2">78.585%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Mesas Pendiente</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">1,145</span>
                                <span class="dato2">21.415%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Digitalización</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col borde-gris">
                    <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-dashboard">
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">Asistencia</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="dashboard-col mb-20">
                    <div class="col-icono">
                        <img src="../../assets/img/icons/ico_miembros_mesa.svg" alt="">
                        <h3 class="concepto">Total de Miembros de Mesa<br>al 78.585%</h3>
                        <h2 class="numero">20,458</h2>
                    </div>
                    <div class="col-participacion">
                        <div class="pie-participacion">
                            <div class="pie-amcharts" id="piechartdiv2" style="width: 100%; min-height: 170px;"></div>
                        </div>
                        <div class="dato-participacion">
                            <div class="col-dato azul">
                                <h3>Asistencia</h3>
                                <h2>80.012%</h2>
                            </div>
                            <div class="col-dato gris">
                                <h3>Omisos</h3>
                                <h2>19.988%</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col borde-gris">
                    <img class="img-100max" src="../../assets/img/pie-digitalizar.png" alt="">
                </div>
            </div>

            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">PersonerosComponent</h3>
                    <button class="estilo1">VER MÁS</button>
                </div>
                <div class="dashboard-col mb-20">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Mesas Registradas</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">251,145</span>
                                <span class="dato2">78.585%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato2 px-2">
                                <h2>Mesas Pendiente</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">1,145</span>
                                <span class="dato2">21.415%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col">
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato3 px-2">
                                <h2>Total de personeros</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">14,215</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="w-full dato_detalle">
                            <div class="nombre_dato3 px-2">
                                <h2>PersonerosComponent miembros de mesa</h2>
                            </div>
                            <div class="resultado_dato2 py-1">
                                <span class="dato1">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conte_sombra p-20 mb-20">
                <div class="cabecera_cards">
                    <h3 class="contenedor-documento-titulo mb-10">PersonerosComponent por Organización Política</h3>
                    <button class="estilo1">VER MÁS</button>

                </div>
                <div class="contenedor-barras mb-20">
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>EL ESPLENDOR DE TU PASADO ES UNA ILUSION</h3>
                            <span>1,222 / 38.112%</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>ACEPTAR LA VIDA YA ES UNA GANANCIA</h3>
                            <span>1,078 / 32.487%</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>DUERMO EN TUS BRAZOS PERU</h3>
                            <span>894 /24.784%</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>ACABEMOS CON LA DELINCUENCIA</h3>
                            <span>678 / 18.754%</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 50%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>LA VIDA NO ES UN DON GRATUITO</h3>
                            <span>342 / 10.452%</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 40%;"></div>
                        </div>
                    </div>
                    <div class="conte_barra_dashboard">
                        <div class="cabeceras_barras">
                            <h3>PEQUEÑOS TOQUES GRANDES RASGOS</h3>
                            <span>142 / 5.784%</span>
                        </div>
                        <div class="barra_dashboard">
                            <div class="barra_avance" style="width: 30%;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
