<section class="secciones">
    <div>
      <form class="formulario" [formGroup]="formGroupReporte">
        <h1 class="titulo1">Listado de Mesas por Ubigeo</h1>
        <section class="seccion-unidos">
          <article class="w-20">

            <div class="formulario section-flex ">
              <div class="w-100">
                <label for="procesoFormControl">Proceso:</label>

                <mat-form-field appearance="outline">
                  <mat-select name="idProceso" formControlName="procesoFormControl">
                    <mat-option value="0">SELECCIONE</mat-option>
                    <mat-option *ngFor="let proceso of listProceso" [value]="proceso.id">
                      {{proceso.cnombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="w-100">
                <label for="ambitoFormControl">{{ambito.nombreTipoAmbito}}:</label>

                <mat-form-field appearance="outline">
                  <mat-select name="idAmbito" formControlName="ambitoFormControl">
                    <mat-option value="0">SELECCIONE</mat-option>
                    <mat-option *ngFor="let ambito of listAmbitos" [value]="ambito.id">
                      {{ambito.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="w-100">
                <label for="centroComputoFormControl">Centro de cómputo:</label>

                <mat-form-field appearance="outline">
                  <mat-select name="idCentroComputo" formControlName="centroComputoFormControl">
                    <mat-option value="0">SELECCIONE</mat-option>
                    <mat-option *ngFor="let centroComputo of listCentrosComputo" [value]="centroComputo.id">
                      {{centroComputo.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="w-100">
                <label for="departamentoFormControl">Departamento:</label>
                <mat-form-field appearance="outline">
                  <mat-select name="idEleccion" formControlName="departamentoFormControl">
                    <mat-option value="0">SELECCIONE</mat-option>
                    <mat-option *ngFor="let departamento of listDepartamento" [value]="departamento.idUbigeo">
                      {{departamento.ubigeo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="w-100">
                <label for="provinciaFormControl">Provincia:</label>

                <mat-form-field appearance="outline">
                  <mat-select name="idEleccion" formControlName="provinciaFormControl">
                    <mat-option value="0">SELECCIONE</mat-option>
                    <mat-option *ngFor="let provincia of listProvincia" [value]="provincia.idUbigeo">
                      {{provincia.ubigeo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="w-100">
                <label for="distritoFormControl">Distrito:</label>

                <mat-form-field appearance="outline">
                  <mat-select name="idEleccion" formControlName="distritoFormControl">
                    <mat-option value="0">SELECCIONE</mat-option>
                    <mat-option *ngFor="let distrito of listDistrito" [value]="distrito.idUbigeo">
                      {{distrito.ubigeo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="boton-full">
                <button class="estilo1 full noMarginLR" type="button" (click)="buscarReporte()">
                  BUSCAR
                </button>
              </div>

            </div>
          </article>
          <article class="w-80">


            <div class="contenedor-documento-muestra">
              <div *ngIf="!isShowReporte" class=" contenido-scroll cont-anuncio">
                <div class="personaje-anuncio">
                  <p>Complete los campos del reporte para descargar el archivo a imprimir</p>
                  <img alt="" src="../assets/img/personaje1.svg">
                </div>
              </div>

              <div #idDivImagen *ngIf="isShowReporte">
              </div>
            </div>

          </article>
        </section>

      </form>
    </div>
</section>
