<div class="pop-content">
  <div class="d-flex center-flex">
    <img alt="" class="img-pop" src="../assets/img/icon-pop/alerta.svg">
  </div>
  <h1 class="pop-title2">Observar Acta Nº <strong>030851-93H</strong></h1>
  <div class="mt-20">
    <p class="texto-pop-observacion">Seleccionar motivo de observación:</p>
    <ul class="lista-observaciones ml-menos7">
        <li><mat-checkbox class="example-margin">Imagen del acta no corresponde al dato del acta</mat-checkbox> </li>
        <li><mat-checkbox class="example-margin">Número de resolución <strong>RES 001/2025 JEE</strong> no corresponde a la imagen o acta</mat-checkbox></li>
        <li><mat-checkbox class="example-margin">Número de resolución <strong>RES 002/2025 JEE</strong> no corresponde a la imagen o acta</mat-checkbox></li>
    </ul>
    
  </div>
  <div class="d-flex center-flex gap-10" >
    <button #botonNo class="estilo2 m-0" mat-dialog-close>ACEPTAR</button>
  </div>
</div>
