<section class="secciones">
  <div>
    <form class="formulario" [formGroup]="formGroupReporte">
      <h1 class="titulo1">Avance de Mesa por Mesa</h1>
      <section class="seccion-unidos">
        <article class="w-20">

          <div class="formulario section-flex ">
            <div class="w-100">
              <label for="procesoFormControl">Proceso:</label>

              <mat-form-field appearance="outline">
                <mat-select name="idProceso" formControlName="procesoFormControl">
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let proceso of listProceso" [value]="proceso">
                    {{proceso.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="eleccionFormControl">Tipo de elección:</label>

              <mat-form-field appearance="outline">
                <mat-select name="idEleccion" formControlName="eleccionFormControl">
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let eleccion of listEleccion" [value]="eleccion">
                    {{eleccion.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="ambitoFormControl">{{ambito.nombreTipoAmbito}}</label>

              <mat-form-field appearance="outline">
                <mat-select name="idAmbito" formControlName="ambitoFormControl">
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let ambito of listAmbitos" [value]="ambito.id">
                    {{ambito.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="centroComputoFormControl">Centro Cónputo:</label>

              <mat-form-field appearance="outline">
                <mat-select name="idCentroComputo" formControlName="centroComputoFormControl">
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let centroComputo of listCentrosComputo" [value]="centroComputo.id">
                    {{centroComputo.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="departamentoFormControl">Departamento:</label>
              <mat-form-field appearance="outline">
                <mat-select name="idEleccion" formControlName="departamentoFormControl"  >
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let departamento of listDepartamento" [value]="departamento.id">
                    {{departamento.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="provinciaFormControl">Provincia:</label>

              <mat-form-field appearance="outline">
                <mat-select name="idEleccion" formControlName="provinciaFormControl">
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let provincia of listProvincia" [value]="provincia.id">
                    {{provincia.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="distritoFormControl">Distrito:</label>

              <mat-form-field appearance="outline">
                <mat-select name="idEleccion" formControlName="distritoFormControl">
                  <mat-option value="0">SELECCIONE</mat-option>
                  <mat-option *ngFor="let distrito of listDistrito" [value]="distrito.id">
                    {{distrito.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">
              <label for="numeroMesaFormControl">Nª de Mesa:</label>


              <mat-form-field appearance="outline" >
                <input matInput  placeholder="Digite numero de mesa" formControlName="numeroMesaFormControl"  />
              </mat-form-field>
            </div>

            <div class="px-0 boton-full">
              <button class="estilo1 full noMarginLR px-0" type="button" (click)="buscarReporteMesa()">
                buscar
              </button>
            </div>

          </div>
        </article>
        <article class="w-80">


          <div class="contenedor-documento-muestra">
            <div *ngIf="!isShowReporte" class=" contenido-scroll cont-anuncio">
              <div class="personaje-anuncio">
                <p>Llene los campos del reporte para poder descargar el archivo a imprimir</p>
                <img alt="" src="../assets/img/personaje1.svg">
              </div>
            </div>

            <div id="idDivImagen" #idDivImagen *ngIf="isShowReporte">
            </div>
          </div>

        </article>
      </section>
    </form>
  </div>
</section>
