<!--
///////////////////////////////////////////////////////////////
///////////////////// BARRA - ELECTORES ///////////////////////
/////////////////////////////////////////////////////////////// 
 -->
 <article class="grafica-referendum">

    <article>
       <span>5000</span>
       <span>4500</span>
       <span>4000</span>
       <span>3500</span>
       <span>3000</span>
       <span>2500</span>
       <span>2000</span>
       <span>1500</span>
       <span>1000</span>
       <span>500</span>
       <span>0</span>
    </article>
    <article>
 
       <section>
          <button class="btn_next2"></button>
          <button class="btn_after2"></button>
 
          <article class="centrando-barras">
             <div class="data-postul-referendum">
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 100%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/si.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Carlos Alberto Zarate Solano</b> <br>
                         SI: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 70%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/no.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Carlos Alberto Zarate Solano</b> <br>
                         NO: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <p class="pregunta-referendum">
                   Carlos Alberto Zarate Solano
                </p>
             </div>
 
             <div class="data-postul-referendum">
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 80%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/si.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Bartolome Enrique Solano Zarate</b> <br>
                         SI: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 90%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/no.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Bartolome Enrique Solano Zarate</b> <br>
                         NO: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <p class="pregunta-referendum">
                   Bartolome Enrique Solano Zarate
                </p>
             </div>
             <div class="data-postul-referendum">
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 100%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/si.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Yreize Nilsa Carhuavilca Carhuavilca</b> <br>
                         SI: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 70%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/no.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Yreize Nilsa Carhuavilca Carhuavilca</b> <br>
                         NO: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <p class="pregunta-referendum">
                   Yreize Nilsa Carhuavilca Carhuavilca
                </p>
             </div>
             <div class="data-postul-referendum">
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 100%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/si.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Edith Salsavilca Solano</b> <br>
                         SI: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <div class="barra-principal-referendum">
                   <div class="carga" style="height: 70%;">
                      <div class="partido-logo2">
                         <img alt="" src="../../../../assets/img/no.jpg">
                      </div>
                      <span>
                         <b class="pb-1">Edith Salsavilca Solano</b> <br>
                         NO: <b>27,4456,788</b>
                      </span>
                   </div>
                </div>
                <p class="pregunta-referendum">
                   Edith Salsavilca Solano
                </p>
             </div>
 
          </article>
 
          <div class="fondo-grafica">
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
             <div></div>
 
          </div>
       </section>
    </article>
 
 
 
    <!--
 ///////////////////////////////////////////////////////////////
 ///////////////// FIN BARRA - ELECTORES ///////////////////////
 ///////////////////////////////////////////////////////////////
 -->