<div class="filtros" [formGroup]="form">
  <div class="filtro">
    <label for="tipoProceso">Proceso:</label>
    <mat-form-field appearance="outline">
      <mat-select id="proceso" formControlName="proceso">
        <mat-option *ngFor="let proceso of listProceso" [value]="proceso">{{proceso.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filtro">
    <label for="eleccion">Elección:</label>
    <mat-form-field appearance="outline">
      <mat-select id="eleccion" formControlName="eleccion">
        <mat-option *ngFor="let eleccion of listEleccion" [value]="eleccion">
          {{eleccion.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filtro">
    <label for="centroComputo">Centro de Cómputo:</label>
    <mat-form-field appearance="outline">
      <mat-select id="centroComputo" formControlName="centroComputo">
        <mat-option *ngFor="let centroComputo of listCentrosComputo" [value]="centroComputo">
          {{centroComputo.codigo}} {{centroComputo.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="conte-radio-boton">
    <mat-radio-group aria-label="Select an option" formControlName="tipoReporte">
      <mat-radio-button [value]="listTipoReporte[0]">{{listTipoReporte[0].nombre}}</mat-radio-button>
      <mat-radio-button [value]="listTipoReporte[1]">{{listTipoReporte[1].nombre}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="filtro_boton">
    <button class="estilo1 full noMarginLR" type="button" (click)="buscarReporte()">
      Consultar
    </button>
  </div>
</div>

<h2 class="subtitulo_reportes">Precisión del asistente automatizado en el control de digitalización</h2>
<div class="cont-anuncio" *ngIf="!isShowReporte">
  <div class="personaje-anuncio">
    <p>
      Por favor, seleccione los filtros para realizar la búsqueda.
    </p>
    <img alt="" src="../assets/img/personaje1.svg" />
  </div>
</div>
<article class="pdf_incrustado">
  <div class="contenedor-documento-muestra">
    <div #idDivImagen *ngIf="isShowReporte">
    </div>
  </div>
</article>
