<section class="secciones">
    <h1 class="titulo1">Registros de Omisos</h1>
    <section class="seccion-unidos">
        <article class="w-20 cuadro-blanco-2">
            <form class="formulario section-flex ">
                <div class="w-100">
                    <label for="mesaInput">Nº Mesa</label>
                    <mat-form-field appearance="outline">
                      <input id="mesaInput" matInput type="text" placeholder="" >
                    </mat-form-field>
                </div>
              <div class="w-50">
                <label for="electoresInput">Nº Electores</label>
                <mat-form-field appearance="outline">
                    <input id="electoresInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
              <div class="w-50">
                <label for="ausentesInput">Nº Electores Ausentes</label>
                <mat-form-field appearance="outline">
                    <input id="ausentesInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
              <div class="w-100">
                <label for="departamentoInput">Departamento</label>
                <mat-form-field appearance="outline">
                    <input id="departamentoInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
              <div class="w-100">
                <label for="provinciaInput">Provincia</label>
                <mat-form-field appearance="outline">
                    <input id="provinciaInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
              <div class="w-100">
                <label for="distritoInput">Distrito</label>
                <mat-form-field appearance="outline">
                    <input id="distritoInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
              <div class="w-100">
                <label for="localInput">Local</label>
                <mat-form-field appearance="outline">
                    <input id="localInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
              <div class="w-100">
                <div class="d-flex">
                  <div class="estados-actas">
                  </div>
                  <button class="icono_ojos" title="Resultado Previo">
                    <img alt="" src="../assets/img/icons/eye.svg">
                  </button>
                </div>
              </div>
              <div class="w-50">
                <label for="omisosRegInput">Omisos registrados</label>
                <mat-form-field appearance="outline">
                    <input id="omisosRegInput" matInput type="text" placeholder="" >
                  </mat-form-field>
              </div>
            </form>
          </article>
        <article class="w-80">
            <div class="contenedor-documento-muestra">
                <div class=" contenido-scroll cont-anuncio" >
                        <div  class="personaje-anuncio">
                            <p>
                              No hay lista de electores pendientes<br>
                            Para iniciar el registro de Omisos de Click en iniciar
                              </p>
                            <img alt="" src="../assets/img/personaje1.svg">
                          </div>
                    </div>
                    </div>
        </article>
    </section>
    <div class="cont-btn">
        <button class=" estilo2" > Iniciar </button>
        <button class="estilo1" onclick="location.href = 'configuracion-2.html'"> SALIR</button>
    </div>
</section>
