<h2 class="modalHead titulo2">Nuevo documento</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="formGroupConfigLateral">
    <h2 class="titulo3">Configuración del documento </h2>

    <label for="nombre">Descripción</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="nombre" sceSoloAlfaNumerico>
    </mat-form-field>

    <label for="tamanioHoja">Tamaño</label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="tamanioHoja">
        <mat-option [value]=""> Seleccione</mat-option>
        <mat-option *ngFor="let ta of listTamanio" [value]="ta.codigoI"> {{ta.nombre}}</mat-option>

      </mat-select>
    </mat-form-field>

    <label for="codigoBarraOrientacion">Orientación</label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="codigoBarraOrientacion">
        <mat-option [value]=""> Seleccione</mat-option>
        <mat-option *ngFor="let ori of listOrientacion" [value]="ori.codigoI"> {{ori.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <label for="multipagina">Multipágina</label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="multipagina">
        <mat-option [value]=""> Seleccione</mat-option>
        <mat-option *ngFor="let mu of listMultipagina" [value]="mu.codigoI"> {{mu.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <label for="abreviatura">Acrónimo</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="abreviatura" maxlength="10" sceSoloAlfaNumerico>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="estilo3" mat-dialog-close>Cancelar</button>
  <button class="estilo1" (click)="guardar()" [disabled]="formGroupConfigLateral.invalid">Aceptar</button>
</mat-dialog-actions>

