<mat-dialog-content class="mat-typography mt-12">
    <h3 class="titulo3">Observaciones (Acta de escrutinio) </h3>
    <img class="img-observaciones mb-2" [src]="pngImageUrlObservacionEscrutinio" alt="Observación Escrutinio"/>
    <h3 class="titulo3">Observaciones (Acta de instalación) </h3>
    <div class="invertido">
        <img class="img-observaciones mb-2 " [src]="pngImageUrlObservacionInstalacion" alt="Observación Instalación"/>
    </div>
    <h3 class="titulo3">Observaciones (Acta de sufragio) </h3>
    <div class="invertido dos">
    <img class="img-observaciones  " [src]="pngImageUrlObservacionSufragio" alt="Observación Sufragio"/>
</div>
</mat-dialog-content>
<mat-dialog-actions class=" mb-1" align="end">

    <button class="btn-azul mr-1" mat-dialog-close>ACEPTAR</button>

</mat-dialog-actions>
